{% set title = "mes outils" %}
{% set description = "Ma Moulinette, mes outils" %}
<!DOCTYPE html>
<html lang="fr">

  {# Chargement de la section HEAD #}
  <head>
    {{ include('head.html.twig') }}
    {% block stylesheets %}
      {{ encore_entry_link_tags('home') }}
    {% endblock %}
  </head>

  <body>
    {# Chargement de la section header #}
    {{ include('header.html.twig') }}
    <br>

    <header class="grid-container">
      <nav aria-label="Ici : " role="navigation">
        <ul class="claire-hand breadcrumbs">
          <li>
            <span class="show-for-sr">Current:</span>Accueil</li>
        </ul>
      </nav>
    </header>

    <div class="grid-container">
    {% for message in app.flashes('alert') %}
        <div class="callout alert" data-closable>
          <p class="open-sans text-justify callout-message">{{ message }}</p>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
      <h4 class="claire-hand">Informations et outils.</h4>
      {# Message d'information #}
      <div id="callout-accueil-message" class="callout alert-callout-border hide">
        <p class="open-sans text-justify js-message">
          <span id="js-reference-information"></span>
          <span id="js-message-information"></span>
        </p>
      </div>

      <fieldset class="fieldset cell fieldset-container">
        <legend class="open-sans">Référentiel local.</legend>
        <div class="grid-x cell">
          <!-- Mise à jour de référentiel des projets sonarqube -->
          <div class="small-8 medium-10 large-10 referentiel-bouton cell">
            <div id="mise-a-jour-referentiel" class="button expanded float-center refresh-bd">
              <div class="show-for-medium">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="refresh-bd-svg">
                  <path d="M234 1C154.4 8.5 84.7 50.6 41 117.6c-8.2 12.6-21.4 38.8-22.9 45.4-4.4 19.1 5.2 38.8 22.9 46.9 16.2 7.5 34.1 4.1 46.3-8.8 4-4.2 7-9 11.9-19.1 16.9-34.6 41.1-60.4 73.5-78.3 50.4-27.8 113.1-28.4 163.3-1.5 8.9 4.7 24 14.6 24 15.7 0 .4-5 1.5-11.2 2.4-18.1 2.7-23.8 6.8-24.6 17.8-.5 6.8 1.6 11.9 6.2 15.3 5.1 3.8 130.6 59.8 135.3 60.4 7.8.9 16-4.9 18.3-12.9.5-1.7 1-35.7 1.1-75.5l.1-72.3-2.4-4.3c-5.2-9.5-18.7-11.8-26.7-4.5-1.3 1.2-6.3 8.2-11.2 15.4C440 67 435.7 73 435.4 73c-.3 0-3.6-2.8-7.2-6.1C396.1 37.4 354.2 15.6 311 6c-21.7-4.8-55.4-7-77-5zM37.2 300.1c-4.6 2.3-7.8 6.2-9.2 11-.5 1.7-1 35.7-1.1 75.5l-.1 72.3 2.4 4.3c5.2 9.5 18.7 11.8 26.7 4.5 1.3-1.2 6.3-8.2 11.2-15.4C72 445 76.3 439 76.6 439c.3 0 3.6 2.8 7.2 6.1 27.2 25 63.1 45.4 98.4 55.9 61.4 18.3 125.9 13.3 183.8-14.1 51.9-24.7 93.6-66 119.5-118.4 7.8-15.8 9.5-20.8 9.5-29 0-25.6-24.4-45.9-48.9-40.6-15.1 3.2-23.7 11.3-33.3 31.1-16.9 34.6-41.1 60.4-73.5 78.3-50.4 27.8-113.1 28.4-163.3 1.5-8.9-4.7-24-14.6-24-15.7 0-.4 5-1.5 11.2-2.4 18.1-2.7 23.8-6.8 24.6-17.8.5-6.8-1.6-11.9-6.2-15.3-1.7-1.3-31.9-15.3-67.1-31.1-44.8-20.2-65.3-28.9-68.5-29.2-3.3-.3-5.7.2-8.8 1.8z"/>
                </svg>
                <span class="show-for-medium open-sans color-blanc">&nbsp;Mise à jour de la liste des projets.</span>
              </div>
              <div class="show-for-small-only">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="refresh-bd-svg">
                  <path d="M234 1C154.4 8.5 84.7 50.6 41 117.6c-8.2 12.6-21.4 38.8-22.9 45.4-4.4 19.1 5.2 38.8 22.9 46.9 16.2 7.5 34.1 4.1 46.3-8.8 4-4.2 7-9 11.9-19.1 16.9-34.6 41.1-60.4 73.5-78.3 50.4-27.8 113.1-28.4 163.3-1.5 8.9 4.7 24 14.6 24 15.7 0 .4-5 1.5-11.2 2.4-18.1 2.7-23.8 6.8-24.6 17.8-.5 6.8 1.6 11.9 6.2 15.3 5.1 3.8 130.6 59.8 135.3 60.4 7.8.9 16-4.9 18.3-12.9.5-1.7 1-35.7 1.1-75.5l.1-72.3-2.4-4.3c-5.2-9.5-18.7-11.8-26.7-4.5-1.3 1.2-6.3 8.2-11.2 15.4C440 67 435.7 73 435.4 73c-.3 0-3.6-2.8-7.2-6.1C396.1 37.4 354.2 15.6 311 6c-21.7-4.8-55.4-7-77-5zM37.2 300.1c-4.6 2.3-7.8 6.2-9.2 11-.5 1.7-1 35.7-1.1 75.5l-.1 72.3 2.4 4.3c5.2 9.5 18.7 11.8 26.7 4.5 1.3-1.2 6.3-8.2 11.2-15.4C72 445 76.3 439 76.6 439c.3 0 3.6 2.8 7.2 6.1 27.2 25 63.1 45.4 98.4 55.9 61.4 18.3 125.9 13.3 183.8-14.1 51.9-24.7 93.6-66 119.5-118.4 7.8-15.8 9.5-20.8 9.5-29 0-25.6-24.4-45.9-48.9-40.6-15.1 3.2-23.7 11.3-33.3 31.1-16.9 34.6-41.1 60.4-73.5 78.3-50.4 27.8-113.1 28.4-163.3 1.5-8.9-4.7-24-14.6-24-15.7 0-.4 5-1.5 11.2-2.4 18.1-2.7 23.8-6.8 24.6-17.8.5-6.8-1.6-11.9-6.2-15.3-1.7-1.3-31.9-15.3-67.1-31.1-44.8-20.2-65.3-28.9-68.5-29.2-3.3-.3-5.7.2-8.8 1.8z"/>
                </svg>
                <span class="open-sans color-blanc">
                  Projets.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              </div>
            </div>
          </div>
          <div class="small-4 medium-2 large-2 referentiel-resultat cell">
            <p class="text-center">
              <span id="js-nombre-projet" class="stat color-noir">{{projetBD|format_number}}</span>
              {% set difference = projetBD - projetSonar %}
              {% if difference > 0 %}
                <span id="js-plus" class="plus"><strong>-{{difference}}</strong></span>
              {% endif %}
              {% if difference < 0 %}
                <span id="js-moins" class="moins"><strong>+{{difference|abs}}</strong></span>
              {% endif %}
            </p>
          </div>
        </div>
        {# Profil qualité #}
        <div class="grid-x cell">
          <div class="small-8 medium-10 large-10 referentiel-bouton cell">
            <div class="button expanded float-center affiche-profil">
              <a href="{{ path('profil', {}) }}" rel="next" title="Aller sur la page des profils.">
                <div class="cell">
                  <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"
                    class="affiche-profil-svg">
                    <path d="M256 0C141.158 0 51.2 44.979 51.2 102.4c0 57.421 89.958 102.4 204.8 102.4s204.8-44.979 204.8-102.4C460.8 44.979 370.842 0 256 0zm0 187.733c-101.76 0-187.733-39.083-187.733-85.333S154.24 17.067 256 17.067 443.733 56.149 443.733 102.4 357.76 187.733 256 187.733z"/>
                    <path d="M443.733 102.4v76.8c0 46.251-85.973 85.333-187.733 85.333S68.267 225.451 68.267 179.2v-76.8H51.2v76.8c0 57.421 89.958 102.4 204.8 102.4s204.8-44.979 204.8-102.4v-76.8h-17.067z"/>
                    <path d="M443.733 179.2V256c0 46.259-85.973 85.333-187.733 85.333S68.267 302.259 68.267 256v-76.8H51.2V256c0 57.421 89.958 102.4 204.8 102.4S460.8 313.421 460.8 256v-76.8h-17.067z"/>
                    <path d="M443.733 256v76.8c0 46.259-85.973 85.333-187.733 85.333S68.267 379.059 68.267 332.8V256H51.2v76.8c0 57.421 89.958 102.4 204.8 102.4s204.8-44.979 204.8-102.4V256h-17.067z"/>
                    <path d="M443.733 332.8v76.8c0 46.259-85.973 85.333-187.733 85.333S68.267 455.859 68.267 409.6v-76.8H51.2v76.8C51.2 467.021 141.158 512 256 512s204.8-44.979 204.8-102.4v-76.8h-17.067z"/>
                  </svg>
                  <span class="open-sans color-blanc">&nbsp;Profils qualités
                    <span class="show-for-medium">Sonarqube.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  </span>
                </div>
              </a>
            </div>
          </div>
          <div class="small-4 medium-2 large-2 referentiel-resultat cell">
            <p id="nombre-profil" class="text-center">
              <span class="stat color-noir">{{profilBD|format_number}}</span>
              {% set difference = profilBD - profilSonar %}
              {% if difference > 0 %}
              <span class="plus"><strong>-{{difference}}</strong></span>
              {% endif %}
              {% if difference < 0 %}
              <span class="moins"><strong>+{{difference|abs}}</strong></span>
              {% endif %}
            </p>
          </div>
        </div>

        <div class="grid-x cell">
          {% for message in app.flashes('info') %}
          <div class="callout primary cell" data-closable>
            <p class="open-sans text-justify callout-message">{{ message }}</p>
            <button id="info-close" class="close-button" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        </div>
      </fieldset>
    </div>
    <br>

    <div class="grid-container grid-x">
      <div class="small-12 medium-6 large-6 cell">
        <fieldset class="fieldset fieldset-visibility cell">
          <legend class="open-sans">Visibilité.</legend>
          <div class="grid-x cell">
            <div class="small-12 medium-6 large-6 cell">
              <h4 class="claire-hand visibility-box visibility-box-public">Public&nbsp;
                <span id="js-public" class="stat stat-visibility float-right">{{public}}</span>
              </h4>
            </div>

            <div class="small-12 medium-6 large-6 cell">
              <h4 class="claire-hand visibility-box">Privé
                <span id="js-private" class="stat stat-visibility float-right">{{private}}</span>
              </h4>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="medium-1 large-1 cell"></div>
      <div class="small-12 medium-5 large-5 cell">
        <a href="{{ path('projet', {}) }}" rel="next" title="Aller sur la page du projet.">
          <div class="button expanded projet">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" class="projet-svg">
              <path d="M23.25 9h-9.5a.75.75 0 010-1.5h9.5a.75.75 0 010 1.5zM23.25 12h-9.5a.75.75 0 010-1.5h9.5a.75.75 0 010 1.5zM23.25 15h-9.5a.75.75 0 010-1.5h9.5a.75.75 0 010 1.5zM23.25 18h-9.5a.75.75 0 010-1.5h9.5a.75.75 0 010 1.5zM23.25 21h-9.5a.75.75 0 010-1.5h9.5a.75.75 0 010 1.5zM9.25 15h-7.5C.785 15 0 14.215 0 13.25v-4C0 8.285.785 7.5 1.75 7.5h7.5c.965 0 1.75.785 1.75 1.75v4c0 .965-.785 1.75-1.75 1.75zm-7.5-6a.25.25 0 00-.25.25v4c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-4A.25.25 0 009.25 9zM9.25 24h-7.5C.785 24 0 23.215 0 22.25v-4c0-.965.785-1.75 1.75-1.75h7.5c.965 0 1.75.785 1.75 1.75v4c0 .965-.785 1.75-1.75 1.75zm-7.5-6a.25.25 0 00-.25.25v4c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-4a.25.25 0 00-.25-.25zM23.25 24h-9.5a.75.75 0 010-1.5h9.5a.75.75 0 010 1.5zM22.25 6H9.75C8.785 6 8 5.215 8 4.25v-2.5C8 .785 8.785 0 9.75 0h12.5C23.215 0 24 .785 24 1.75v2.5C24 5.215 23.215 6 22.25 6zM9.75 1.5a.25.25 0 00-.25.25v2.5c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25v-2.5a.25.25 0 00-.25-.25zM3 6C1.346 6 0 4.654 0 3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3zm0-4.5c-.827 0-1.5.673-1.5 1.5S2.173 4.5 3 4.5 4.5 3.827 4.5 3 3.827 1.5 3 1.5z"/>
            </svg>
            <span class="open-sans color-blanc">mon Projet</span>
          </div>
        </a>
      </div>
    </div>

    <div class="grid-container grid-padding-x">
      <fieldset class="fieldset fieldset-container cell">
        <legend class="open-sans">Mes projets favoris.</legend>
        {% if nombreFavori == 1 %}
        <p class="open-sans">
          <span class="lead color-reliability"><strong>F</strong><span>iabilité -
          <span class="lead color-security"><strong>S</strong></span>écurité -
          <span class="lead color-hotspot"><strong>H</strong></span>otspot -
          <span class="lead color-codesmell"> <strong>M</strong></span>aintenabilité
        </p>
        <div class="grid-x cell">
          {# Information sur les versions #}
            {% set n = 0 %}
            {% for app in favori %}
            {% set n = n + 1 %}
          <div class="callout callout-information">
            <div class="callout-body">
              <h5 class="claire-hand text-center">Informations
                <svg id="raccourci-{{n}}" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"
                  class="suivi-svg" data-mavenkey="{{app.mavenkey}}">
                  <path d="M32 17.3c-4.9 1.6-13.3 10.2-14.8 15.3-1.8 6-1.8 440.8 0 446.8 1.6 5.5 9.9 13.8 15.4 15.4 6 1.8 440.8 1.8 446.8 0 5.5-1.6 13.8-9.9 15.4-15.4 1.8-6 1.8-440.8 0-446.8-1.6-5.5-9.9-13.8-15.4-15.4-5.7-1.7-442.1-1.6-447.4.1zm445.5 17.2c2.5 2.4 2.5 2.4 2.5 24V80H32V58.5c0-21.6 0-21.6 2.5-24l2.4-2.5h438.2l2.4 2.5zm2.5 251v189.6l-2.5 2.4-2.4 2.5H36.9l-2.4-2.5-2.5-2.4V96h448v189.5z"/>
                  <path d="M50.5 50.5C48.9 52 48 54.1 48 56s.9 4 2.5 5.5c2.1 2.2 3.3 2.5 9.5 2.5s7.4-.3 9.5-2.5c3.3-3.2 3.3-7.8 0-11-2.1-2.2-3.3-2.5-9.5-2.5s-7.4.3-9.5 2.5zM90.5 50.5C88.9 52 88 54.1 88 56s.9 4 2.5 5.5c2.1 2.2 3.3 2.5 9.5 2.5s7.4-.3 9.5-2.5c3.3-3.2 3.3-7.8 0-11-2.1-2.2-3.3-2.5-9.5-2.5s-7.4.3-9.5 2.5zM130.5 50.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5c2.1 2.2 3.3 2.5 9.5 2.5s7.4-.3 9.5-2.5c1.6-1.5 2.5-3.6 2.5-5.5s-.9-4-2.5-5.5c-2.1-2.2-3.3-2.5-9.5-2.5s-7.4.3-9.5 2.5zM218.5 50.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5l2.4 2.5h198.2l2.4-2.5c1.6-1.5 2.5-3.6 2.5-5.5s-.9-4-2.5-5.5l-2.4-2.5H220.9l-2.4 2.5zM442.5 50.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5c2.1 2.2 3.3 2.5 9.5 2.5s7.4-.3 9.5-2.5c1.6-1.5 2.5-3.6 2.5-5.5s-.9-4-2.5-5.5c-2.1-2.2-3.3-2.5-9.5-2.5s-7.4.3-9.5 2.5zM138 129.4c-21.6 4.6-40.4 18.9-49.9 37.8-6.1 12.3-7.6 19-7.5 33.8.1 10.7.5 13.7 2.7 20.5 3.8 11.5 9 19.8 18.2 29 13.1 13.1 27.7 19.9 45.4 21.2 43.4 3 79.6-33 76.7-76.5-.6-10.7-4.3-22.8-9.7-32-4.9-8.2-18-21.1-26.2-25.7-14.8-8.2-34.3-11.3-49.7-8.1zm6 44.8v29.2l20.6 20.7 20.7 20.8-4.9 3.1c-8.1 5.1-17.4 7.5-28.9 7.5-24.9-.1-44.8-14.9-53.1-39.5-2.6-7.6-2.6-24.4 0-32 4.5-13.4 13.8-25.5 24.3-31.7 5.5-3.2 15.9-7.2 19.1-7.2l2.2-.1v29.2zm25.8-27.1c16 5.4 29.7 19.1 35.1 35.1 3.6 10.7 5.5 9.8-21.4 9.8H160v-23.5c0-26.9-.9-25 9.8-21.4zm37.2 62.3c0 3.2-4.1 14.4-6.9 18.8-1.7 2.7-3.2 4.8-3.3 4.8-.2 0-5.9-5.6-12.8-12.5L171.5 208h17.8c14.5 0 17.7.3 17.7 1.4zM274.5 130.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5c2.1 2.2 3.3 2.5 9.5 2.5s7.4-.3 9.5-2.5c1.6-1.5 2.5-3.6 2.5-5.5s-.9-4-2.5-5.5c-2.1-2.2-3.3-2.5-9.5-2.5s-7.4.3-9.5 2.5zM314.5 130.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5l2.4 2.5h126.2l2.4-2.5c1.6-1.5 2.5-3.6 2.5-5.5s-.9-4-2.5-5.5l-2.4-2.5H316.9l-2.4 2.5zM274.5 162.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5l2.4 2.5h166.2l2.4-2.5c1.6-1.5 2.5-3.6 2.5-5.5s-.9-4-2.5-5.5l-2.4-2.5H276.9l-2.4 2.5zM274.5 194.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5l2.4 2.5h166.2l2.4-2.5c1.6-1.5 2.5-3.6 2.5-5.5s-.9-4-2.5-5.5l-2.4-2.5H276.9l-2.4 2.5zM274.5 226.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5l2.4 2.5h166.2l2.4-2.5c1.6-1.5 2.5-3.6 2.5-5.5s-.9-4-2.5-5.5l-2.4-2.5H276.9l-2.4 2.5zM274.5 258.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5l2.4 2.5h126.2l2.4-2.5c1.6-1.5 2.5-3.6 2.5-5.5s-.9-4-2.5-5.5l-2.4-2.5H276.9l-2.4 2.5zM426.5 258.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5c2.1 2.2 3.3 2.5 9.5 2.5s7.4-.3 9.5-2.5c1.6-1.5 2.5-3.6 2.5-5.5s-.9-4-2.5-5.5c-2.1-2.2-3.3-2.5-9.5-2.5s-7.4.3-9.5 2.5zM66.5 306.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5c2.1 2.2 3.3 2.5 9.5 2.5s7.4-.3 9.5-2.5c3.3-3.2 3.3-7.8 0-11-2.1-2.2-3.3-2.5-9.5-2.5s-7.4.3-9.5 2.5zM106.5 306.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5l2.4 2.5h126.2l2.4-2.5c1.6-1.5 2.5-3.6 2.5-5.5s-.9-4-2.5-5.5l-2.4-2.5H108.9l-2.4 2.5zM274.5 306.5l-2.5 2.4v134.2l2.5 2.4 2.4 2.5h166.2l2.4-2.5 2.5-2.4V308.9l-2.5-2.4-2.4-2.5H276.9l-2.4 2.5zM432 342.7l-.1 22.8-9.2-18c-7.6-14.9-9.7-18.2-11.9-18.9-5.8-2-7.4-.4-19.7 20.2L379.5 368h-10.7c-5.8 0-11.3.3-12.2.6-.8.3-5.9 6.4-11.2 13.5-5.3 7.1-9.9 12.9-10.2 12.9-.3 0-3.1-2.5-6.3-5.5-8.9-8.5-9.4-8.3-25.7 7.7-7.4 7.3-13.8 14.2-14.2 15.3-.5 1.1-.9-18.8-.9-45.3L288 320h144v22.7zM419.9 375c3.3 1.7 7.1 1.1 9.6-1.5l2.5-2.4V432H288v-7.8c0-6.9.2-7.4 1.3-5.2 1.8 3.6 5.8 5.3 9.4 4 1.5-.6 6.9-5.2 12-10.2l9.2-9.2 6.5 6.2c7 6.7 10.5 7.8 14.4 4.4 1.1-.9 6.8-8.1 12.6-16l10.7-14.2h11.3c9.4 0 11.7-.3 13.4-1.8 1.1-.9 5.7-8 10.2-15.6l8.3-13.9 5.3 10.6c3 5.8 6.3 11.1 7.3 11.7zM66.5 338.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5l2.4 2.5h166.2l2.4-2.5c3.3-3.2 3.3-7.8 0-11l-2.4-2.5H68.9l-2.4 2.5zM66.5 370.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5l2.4 2.5h166.2l2.4-2.5c3.3-3.2 3.3-7.8 0-11l-2.4-2.5H68.9l-2.4 2.5zM66.5 402.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5l2.4 2.5h166.2l2.4-2.5c3.3-3.2 3.3-7.8 0-11l-2.4-2.5H68.9l-2.4 2.5zM66.5 434.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5l2.4 2.5h126.2l2.4-2.5c1.6-1.5 2.5-3.6 2.5-5.5s-.9-4-2.5-5.5l-2.4-2.5H68.9l-2.4 2.5zM218.5 434.5c-1.6 1.5-2.5 3.6-2.5 5.5s.9 4 2.5 5.5c2.1 2.2 3.3 2.5 9.5 2.5s7.4-.3 9.5-2.5c1.6-1.5 2.5-3.6 2.5-5.5s-.9-4-2.5-5.5c-2.1-2.2-3.3-2.5-9.5-2.5s-7.4.3-9.5 2.5z"/>
                </svg>
              </h5>
            </div>
            <div class="callout-footer open-sans">
              {% if app.nom|length >20 %}
                {% set taille="nom-small" %}
              {% else %}
                {% set taille="nom-normal" %}
              {% endif %}
              <p class="ligne-favori open-sans">Nom&nbsp;:
                <span class="float-right resultat-favori {{taille}}">{{app.nom}}</span>
              </p>
              <p class="ligne-favori open-sans">Version&nbsp;:
                <span class="float-right resultat-favori">{{app.version}}</span>
              </p>
              <p class="ligne-favori open-sans">Date&nbsp;:
                <span class="float-right resultat-favori">{{app.date|date("d/m/Y", "Europe/Paris")}}</span>
              </p>
              <table aria-label="tableau-favori">
                <thead>
                  <tr>
                    <th scope="col">
                      <span class="note-favori color-reliability">&nbsp;F&nbsp;</span>
                    </th>
                    <th scope="col">
                      <span class="note-favori color-security">&nbsp;S&nbsp;</span>
                    </th>
                    <th scope="col">
                      <span class="note-favori color-hotspot">&nbsp;H&nbsp;</span>
                    </th>
                    <th scope="col">
                      <span class="note-favori color-codesmell">&nbsp;M&nbsp;</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr scope="row">
                    <td>
                      <span id="note-reliability" class="open-sans">
                        <span class="note note-{{app.fiabilite|lower}}">{{app.fiabilite}}</span>
                      </span>
                    </td>
                    <td>
                      <span id="note-security" class="open-sans">
                        <span class="note note-{{app.securite|lower}}">{{app.securite}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="open-sans">
                        <span class="note note-{{app.hotspot|lower}}">{{app.hotspot}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="open-sans">
                        <span class="note note-{{app.sqale|lower}}">{{app.sqale}}</span>
                      </span>
                    </td>
                  </tr>
                  <tr scope="row">
                    <td>
                      <span class="nombre-favori open-sans">
                        {% if app.bug < 10 %}
                          00{{app.bug}}
                        {% endif %}
                        {% if app.bug >= 10 and app.bug < 100 %}
                          0{{app.bug}}
                        {% endif %}
                        {% if app.bug >= 100 and app.bug < 1000 %}
                          {{app.bug}}
                        {% endif %}
                        {% if app.bug >= 1000 and app.bug < 100000 %}
                          {% set k = (app.bug / 1000)|number_format(1, '.', ',') %}
                          {{k}}K
                        {% endif %}
                      </span>
                    </td>
                    <td>
                      <span class="nombre-favori open-sans">
                        {% if app.vulnerability < 10 %}
                          00{{app.vulnerability}}
                        {% endif %}
                        {% if app.vulnerability >= 10 and app.vulnerability <100%}
                          0{{app.vulnerability}}
                        {% endif %}
                        {% if app.vulnerability >=100 and app.vulnerability <1000 %}
                          {{app.vulnerability}}
                        {% endif %}
                        {% if app.vulnerability >=1000 and app.vulnerability <100000 %}
                          {% set k=(app.vulnerability/1000)|number_format(1, '.', ',') %}
                          {{k}}K
                        {% endif %}
                      </span>
                    </td>
                    <td>
                      <span class="nombre-favori open-sans">
                        {% if app.hotspots <10 %}
                          00{{app.hotspots}}
                        {% endif %}
                        {% if app.hotspots >=10 and app.hotspots <100 %}
                          0{{app.hotspots}}
                        {% endif %}
                        {% if app.hotspots >=100 and app.hotspots <1000 %}
                          {{app.hotspots}}
                        {% endif %}
                        {% if app.hotspots >=1000 and app.hotspots <100000 %}
                          {% set k=(app.hotspots/1000)|number_format(1, '.', ',') %}
                          {{k}}K
                        {% endif %}
                      </span>
                    </td>
                    <td>
                      <span class="nombre-favori open-sans">
                        {% if app.code_smell <10 %}
                          00{{app.code_smell}}
                        {% endif %}
                        {% if app.code_smell >=10 and app.code_smell <100%}
                          0{{app.code_smell}}
                        {% endif %}
                        {% if app.code_smell >=100 and app.code_smell <1000 %}
                          {{app.code_smell}}
                        {% endif %}
                        {% if app.code_smell >=1000 and app.code_smell <100000 %}
                          {% set k=(app.code_smell/1000)|number_format(1, '.', ',') %}
                          {{k}}K</span>
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
            {% endfor %}
        </div>
          {# Fin de la zonne mes favoris #}
        {% endif %}
      </fieldset>
    </div>
    <br><br>
    {# Chargement de la section footer #}
    {{ include('footer.html.twig') }}
    {# Chargement du code javascript #}
    {% block javascripts %}
      {{ encore_entry_script_tags('home') }}
    {% endblock %}
  </body>
</html>
