{% set title = 'Inscription' %}
{% set description = 'Inscription à MaMoulinette' %}

<!DOCTYPE html>
<!--
.. __  __             __  __             _ _            _   _
  |  \/  | __ _      |  \/  | ___  _   _| (_)_ __   ___| |_| |_ ___
  | |\/| |/ _` |_____| |\/| |/ _ \| | | | | | '_ \ / _ \ __| __/ _ \
  | |  | | (_| |_____| |  | | (_) | |_| | | | | | |  __/ |_| ||  __/
  |_|  |_|\__,_|     |_|  |_|\___/ \__,_|_|_|_| |_|\___|\__|\__\___|

  Laurent HADJADJ
  https://bitbucket.org/laurent_h/ma-moulinette
  © 2024 - CC BY-SA-NC 4.0
-->


<html
	lang="fr">

	{# Chargement de la section HEAD #}
	<head>
		{{ include('head.html.twig') }}
		{% block stylesheets %}
			{{ encore_entry_link_tags('register') }}
		{% endblock %}
	</head>

	<body>
		{# Chargement de la section header #}
		{{ include('header.html.twig') }}
		<br><br>

		<div class="grid-container">
			<div class="grid-x">
				<div class="small-12 medium-6 large-6 cell">
					<video id="video-arbres" class="video-arbres" preload="metadata" loop autoplay muted>
						<source src="{{ asset('build/video/ArbresEnneiges.mp4') }}"/>
						<track label="Français" kind="captions" srclang="fr" default/>
					</video>
					<span class="open-sans float-center text-center">
						<a class="open-sans credit" href="https://pixabay.com/fr/users/invisiblepower-3810957/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=video&amp;utm_content=7328">invisiblepower</a>
						<span id="sur">sur</span>
						<a class="open-sans credit" href="https://pixabay.com/fr//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=video&amp;utm_content=7328">Pixabay</a>
					</span>
				</div>
				<div class="small-12 medium-6 large-6 cell">
					{% form_theme registrationForm 'foundation_6_layout.html.twig' %}
					{{ form_start(registrationForm) }}
					<div class="callout">
						<h1 class="h2 claire-hand text-center">Inscription.</h1>
						<div
							class="grid-x cell">
							{# Ajout de l'avatar #}
							<div class="small-12 medium-4 large-4 cell">
								<div class="ajouter-mon-avatar-container">
									<img id="ajouter-mon-avatar" src="{{ asset('build/avatar/personne.png') }}" alt="Mon avatar" height="52" width="52" data-theme="racine" data-image="personne"/>
								</div><br>
								<span id="bouton-changer-avatar" class="open-sans profil-bouton" data-open="mes-avatars">&nbsp;Changer&nbsp;
								</span>
							</div>

							{# Ajout du nom #}
							<div class="small-11 medium-7 large-7 cell">
								<div class="floated-label-wrapper">
									{{ form_label(registrationForm.nom) }}
								</div>
								{{ form_widget(registrationForm.nom) }}
								<div class="form_erreur">
									{{ form_errors(registrationForm.nom) }}
								</div>
							</div>
							<div class="small-1 medium-1 large-1 cell">
								<span id="register-info-check-nom"></span>
							</div>
							<div class="small-12 medium-4 large-4 cell">&nbsp;</div>

							{# Ajout du prénom #}
							<div class="small-11 medium-7 large-7 cell">
								<div class="show-for-medium">
									<p></p>
								</div>
								<div class="floated-label-wrapper">
									{{ form_label(registrationForm.prenom) }}
								</div>
								{{ form_widget(registrationForm.prenom,) }}
								<div class="form_erreur">
									{{ form_errors(registrationForm.prenom) }}
								</div>
							</div>
							<div class="small-1 medium-1 large-1 cell">
								<span id="register-info-check-prenom"></span>
							</div>

							{# Ajout du courriel #}
							<div class="small-11 medium-11 large-11 cell">
								<div class="floated-label-wrapper">
									{{ form_label(registrationForm.courriel) }}
								</div>
								{{ form_widget(registrationForm.courriel) }}
								<div id="message-erreur-courriel" class="form_erreur">
									{{ form_errors(registrationForm.courriel) }}
								</div>
							</div>
							<div class="small-1 medium-1 large-1 cell">
								<span id="register-info-check-courriel"></span>
							</div>

							{# Mot de passe #}
							<div class="isolation grid-x cell">
								<div class="small-11 medium-11 large-11 cell">
									<div class="floated-label-wrapper">
										{{ form_label(registrationForm.plainPassword.first) }}
									</div>
									{{ form_widget(registrationForm.plainPassword.first) }}
									<button class="unmask1" type="button" title="Affiche/masque le mot de passe">Unmask</button>
								</div>
								<div class="check-svg small-1 medium-1 large-1 cell">
									<span id="register-info-check-password"></span>
								</div>
							</div>

							{# reMot de passe #}
							<div class="isolation grid-x cell">
								<div class="small-11 medium-11 large-11 cell check-svg">
									<div class="floated-label-wrapper">
										{{ form_label(registrationForm.plainPassword.second) }}
									</div>
									{{ form_widget(registrationForm.plainPassword.second) }}
									<button class="unmask2" type="button" title="Affiche/masque le mot de passe">Unmask</button>
								</div>
								<div class="check-svg small-1 medium-1 large-1 cell">
									<span id="register-info-check-repassword"></span>
								</div>
							</div>

							{# Affiche la qualité du mot de passe. #}
							<div class="affiche-info-mot-de-passe cell">
								<span id="affiche-info-mot-de-passe" class="open-sans color-bleu">Infos :
								</span>
							</div>

							{# Affiche des messages d'erreur pour le champ mot-de-passe et re-mot-de-passe #}
							<div class="form_erreur">
								{{ form_errors(registrationForm.plainPassword.first) }}
								{{ form_errors(registrationForm.plainPassword.second) }}
							</div>

							{# HoneyPot #}
							<div class="cell">
								<label for="registration_form_email"></label>
								{{ form_widget(registrationForm.email) }}
							</div>

							{# Bouton de validation #}
							<input id="valider-formulaire-enregistrement" class="button expanded disabled noselect" type="button" value="Inscription"></input>
						<div id="message-erreur-valider"></div>
						{{ form_end(registrationForm) }}
					</div>
				</div>
			</div>

			{# affiche la liste des avatar #}
			<div id="mes-avatars" class="grid-container large reveal" data-reveal>
				<ul id="ajouter-mes-avatars" class="accordion" data-accordion data-multi-open="true">
					<li class="accordion-item menu-accordeon" data-accordion-item>
						<a class="accordion-title color-bleu">
							<span class="open-sans">
								<strong>Chiffres</strong>
							</span>
							<span class="open-sans float-right avatar-chiffre">10</span>
						</a>
						<div class="accordion-content background-color-blanc" data-tab-content>
							{% for i in 1..10 %}
								{% if i<10 %}
									<img id="ajouter-chiffre-0{{i}}" class="thumbnail grayscale" alt="m0i" height="42" width="42" src="/build/avatar/chiffre/0{{i}}.png" data-theme="chiffre" data-image="0{{i}}"/>
								{% else %}
									<img id="ajouter-chiffre-{{i}}" class="thumbnail grayscale" alt="m0i" height="42" width="42" src="/build/avatar/chiffre/{{i}}.png" data-theme="chiffre" data-image="{{i}}"/>
								{% endif %}
							{% endfor %}
						</div>
					</li>
					<li class="accordion-item menu-accordeon" data-accordion-item>
						<a class="accordion-title color-bleu">
							<span class="open-sans">
								<strong>Emoticônes</strong>
							</span>
							<span class="open-sans float-right avatar-emoticone">35</span>
						</a>
						<div class="accordion-content background-color-blanc" data-tab-content>
							{% for i in 1..35 %}
								{% if i<10 %}
									<img id="ajouter-emoticon-0{{i}}" class="thumbnail grayscale" alt="m0i" height="42" width="42" src="/build/avatar/emoticon/0{{i}}.png" data-theme="emoticon" data-image="0{{i}}"/>
								{% else %}
									<img id="ajouter-emoticon-{{i}}" class="thumbnail grayscale" alt="m0i" height="42" width="42" src="/build/avatar/emoticon/{{i}}.png" data-theme="emoticon" data-image="{{i}}"/>
								{% endif %}
							{% endfor %}
						</div>
					</li>
					<li class="accordion-item menu-accordeon" data-accordion-item>
						<a class="accordion-title color-bleu">
							<span class="open-sans">
								<strong>Filles (1)</strong>
							</span>
							<span class="open-sans float-right avatar-fille1">27</span>
						</a>
						<div class="accordion-content background-color-blanc" data-tab-content>
							{% for i in 1..27 %}
								{% if i<10 %}
									<img id="ajouter-fille-1-0{{i}}" class="thumbnail grayscale" alt="m0i" height="42" width="42" src="/build/avatar/fille-1/0{{i}}.png" data-theme="fille-1" data-image="0{{i}}"/>
								{% else %}
									<img id="ajouter-fille-1-{{i}}" class="thumbnail grayscale" alt="m0i" height="42" width="42" src="/build/avatar/fille-1/{{i}}.png" data-theme="fille-1" data-image="{{i}}"/>
								{% endif %}
							{% endfor %}
						</div>
					</li>
					<li class="accordion-item menu-accordeon" data-accordion-item>
						<a class="accordion-title color-bleu">
							<span class="open-sans">
								<strong>Filles (2)</strong>
							</span>
							<span class="open-sans float-right avatar-fille2">27</span>
						</a>
						<div class="accordion-content background-color-blanc" data-tab-content>
							{% for i in 1..26 %}
								{% if i<10 %}
									<img id="ajouter-fille-2-0{{i}}" class="thumbnail grayscale" alt="m0i" height="42" width="42" src="/build/avatar/fille-2/0{{i}}.png" data-theme="fille-2" data-image="0{{i}}"/>
								{% else %}
									<img id="ajouter-fille-2-{{i}}" class="thumbnail grayscale" alt="m0i" height="42" width="42" src="/build/avatar/fille-2/{{i}}.png" data-theme="fille-2" data-image="{{i}}"/>
								{% endif %}
							{% endfor %}
						</div>
					</li>
					<li class="accordion-item menu-accordeon" data-accordion-item>
						<a class="accordion-title color-bleu">
							<span class="open-sans">
								<strong>Garçon (1)</strong>
							</span>
							<span class="open-sans float-right avatar-garcon1">23</span>
						</a>
						<div class="accordion-content background-color-blanc" data-tab-content>
							{% for i in 1..23 %}
								{% if i<10 %}
									<img id="ajouter-garcon-1-0{{i}}" class="thumbnail grayscale" alt="m0i" height="42" width="42" src="/build/avatar/garcon-1/0{{i}}.png" data-theme="garcon-1" data-image="0{{i}}"/>
								{% else %}
									<img id="ajouter-garcon-1-{{i}}" class="thumbnail grayscale" alt="m0i" height="42" width="42" src="/build/avatar/garcon-1/{{i}}.png" data-theme="garcon-1" data-image="{{i}}"/>
								{% endif %}
							{% endfor %}
						</div>
					</li>
					<li class="accordion-item menu-accordeon" data-accordion-item>
						<a class="accordion-title color-bleu">
							<span class="open-sans">
								<strong>Garçon (2)</strong>
							</span>
							<span class="open-sans float-right avatar-garcon2">23</span>
						</a>
						<div class="accordion-content background-color-blanc" data-tab-content>
							{% for i in 1..24 %}
								{% if i<10 %}
									<img id="ajouter-garcon-2-0{{i}}" class="thumbnail grayscale" alt="m0i" height="42" width="42" src="/build/avatar/garcon-2/0{{i}}.png" data-theme="garcon-2" data-image="0{{i}}"/>
								{% else %}
									<img id="ajouter-garcon-2-{{i}}" class="thumbnail grayscale" alt="m0i" height="42" width="42" src="/build/avatar/garcon-2/{{i}}.png" data-theme="garcon-2" data-image="{{i}}"/>
								{% endif %}
							{% endfor %}
						</div>
					</li>
					<li class="accordion-item menu-accordeon" data-accordion-item>
						<a class="accordion-title color-bleu">
							<span class="open-sans">
								<strong>Lettres</strong>
							</span>
							<span class="open-sans float-right avatar-lettre">26</span>
						</a>
						<div class="accordion-content background-color-blanc" data-tab-content>
							{% for i in 1..26 %}
								{% if i<10 %}
									<img id="ajouter-lettre-0{{i}}" class="thumbnail grayscale" alt="m0i" height="42" width="42" src="/build/avatar/lettre/0{{i}}.png" data-theme="lettre" data-image="0{{i}}"/>
								{% else %}
									<img id="ajouter-lettre-{{i}}" class="thumbnail grayscale" alt="m0i" height="42" width="42" src="/build/avatar/lettre/{{i}}.png" data-theme="lettre" data-image="{{i}}"/>
								{% endif %}
							{% endfor %}
						</div>
					</li>
				</ul>
			</div>
		</div>
		<br><br>
		{# Chargement de la section footer #}
		{{ include('footer.html.twig') }}
		{# Chargement du code javascript #}
		{% block javascripts %}
			{{ encore_entry_script_tags('register') }}
		{% endblock %}
	</body>
</html>
