{% set title = "mes outils" %}
{% set description = "Ma Moulinette, actuator" %}
<!DOCTYPE html>
<!--
.. __  __             __  __             _ _            _   _
  |  \/  | __ _      |  \/  | ___  _   _| (_)_ __   ___| |_| |_ ___
  | |\/| |/ _` |_____| |\/| |/ _ \| | | | | | '_ \ / _ \ __| __/ _ \
  | |  | | (_| |_____| |  | | (_) | |_| | | | | | |  __/ |_| ||  __/
  |_|  |_|\__,_|     |_|  |_|\___/ \__,_|_|_|_| |_|\___|\__|\__\___|

  Laurent HADJADJ
  https://github.com/Laurent-hadjadj/ma-moulinette
  © 2024 - CC BY-SA-NC 4.0
-->
<html lang="fr">

  {# Chargement de la section HEAD #}
  <head>
    <title>{{ title }}</title>
    {{ include('head.html.twig') }}
    {% block stylesheets %}
      {{ encore_entry_link_tags('actuator-ajouter') }}
    {% endblock %}
  </head>

  <body dir="ltr">
    {# Chargement de la section header #}
    {{ include('header.html.twig') }}
    <br>

      <header class="grid-container">
      <nav id="fil-ariane" aria-label="vous êtes ici :">
        <ol class="claire-hand breadcrumbs">
          <li><a href="/">Accueil</a></li>
          <li><a href="/actuator">Actator</a></li>
          <li><span class="show-for-sr">vous êtes ici :</span>Ajout</li>
        </ol>
      </nav>
    </header>

    <main class="grid-container">
      {% for message in app.flashes('notice') %}
        <div class="callout {{message.type}} alert-callout-border" data-closable>
          <p class="open-sans text-justify callout-message"><strong>{{message.titre}}</strong> {{ message.message }}</p>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}

      <h1 class="h4 claire-hand">Actuator</h1>
      <h2 class="h5 claire-hand">Ajouter une application.</h2>

      <div class="small-12 medium-12 large-12 cell">
      {% form_theme form 'foundation_6_layout.html.twig' %}
      {{ form_start(form) }}
        {{ form_widget(form._token) }}
        <div class="callout">
          <div class="grid-x cell">
            <div class="small-12 medium-8 large-8 cell">
                <div class="grid-x">{{ form_label(form.url) }} <span class="color-rouge">&nbsp;*</span> </div>
                {{ form_widget(form.url) }}
            </div>
            <div class="small-12 medium-6 large-6 cell">
                {{ form_label(form.actuatorUser) }}
                {{ form_widget(form.actuatorUser) }}
            </div>
            <div class="small-11 medium-6 large-6 cell">
              {{ form_label(form.actuatorPassword) }}
              {{ form_widget(form.actuatorPassword) }}
            </div>
          </div>
        </div>

        <div class="callout">
          <div id="bars" class="grid-x cell"
            data-prototype="{{ include("actuator/_info.html.twig", {form: form.actuatorInfo.vars.prototype})|e("html_attr") }}"
            data-index="{{ form.actuatorInfo|length > 0 ? form.actuatorInfo|last.vars.name + 1 : 0 }}">
            {% for item in form.actuatorInfo %}
            <div class="small-12, medium-7 large-7 cell">
              <div class="grid-x">{{ form_label(item.actuatorInfoDescription) }} <span class="color-rouge">&nbsp;*</span></div>
              {{ form_widget(item.actuatorInfoDescription) }}
            </div>
            <div class="small-12, medium-5 large-5 cell">
              <div class="grid-x">{{ form_label(item.actuatorInfoValue) }} <span class="color-rouge">&nbsp;*</span></div>
              {{ form_widget(item.actuatorInfoValue) }}
            </div>
            {% endfor %}
          </div>
        </div>
        <button type="button" class="button bouton-ajouter js-boutton-ajouter" data-collection="#bars">Ajouter</button>
      <br><br>

    <div class="form_erreur">
      {{ form_errors(form.url) }}
      {{ form_errors(form.actuatorUser) }}
      {{ form_errors(form.actuatorPassword) }}
      {% for actuatorInfoForm in form.actuatorInfo %}
        {{ form_errors(actuatorInfoForm.actuatorInfoDescription) }}
        {{ form_errors(actuatorInfoForm.actuatorInfoValue) }}
      {% endfor %}
    </div>
    <button id="valider-formulaire-enregistrement" type="submit" class="button">Enregistrer</button>
    {{ form_end(form, {render_rest: false}) }}

    </main>

    {# Chargement de la section footer #}
    {{ include('footer.html.twig') }}
    {# Chargement du code javascript #}
    {% block javascripts %}
      {{ encore_entry_script_tags('actuator-ajouter') }}
    {% endblock %}
  </body>
</html>
