{% set title = 'mes outils' %}
{% set description = 'Ma Moulinette - Synthèse' %}
{% if initial_code_smell_blocker == -1 %}
  {% set initial_code_smell_blocker,modal_initial_code_smell_blocker = 0, "-" %}{% endif %}
{% if initial_code_smell_critical == -1 %}
  {% set initial_code_smell_critical, modal_initial_code_smell_critical = 0, "-" %}{% endif %}
{% if initial_code_smell_major == -1 %}
  {% set initial_code_smell_major, modal_initial_code_smell_major = 0, "-" %}{% endif %}
{% if initial_bug_blocker == -1 %}
  {% set initial_bug_blocker, modal_initial_bug_blocker = 0, "-" %}{% endif %}
{% if initial_bug_critical == -1 %}
  {% set initial_bug_critical, modal_initial_bug_critical = 0, "-" %}{% endif %}
{% if initial_bug_major == -1 %}
  {% set initial_bug_major, modal_initial_bug_major = 0, "-" %}{% endif %}
{% if initial_vulnerability_blocker == -1 %}
  {% set initial_initial_vulnerability_blocker, modal_initial_vulnerability_blocker = 0, "-" %}{% endif %}
{% if initial_vulnerability_critical == -1 %}
  {% set initial_initial_vulnerability_critical, modal_initial_vulnerability_critical = 0, "-" %}{% endif %}
{% if initial_vulnerability_major == -1 %}
  {% set initial_vulnerability_major, modal_initial_vulnerability_major = 0, "-" %}{% endif %}
<!DOCTYPE html>
<html  lang="fr">

{# Chargement de la section HEAD #}
<head>
  {{ include('head.html.twig') }}
  {% block stylesheets %}
      {{ encore_entry_link_tags('cosui') }}
  {% endblock %}
</head>

<body>
{# Chargement de la section header #}
{{ include('header.html.twig') }}
<br />
<header class="grid-container">
  <nav aria-label="Ici : " role="navigation">
    <ul class="claire-hand breadcrumbs">
      <li><a href="/">Accueil</a></li>
      <li><a href="/projet">Projet</a></li>
      <li><span class="show-for-sr">Current:</span>COSUI</li>
    </ul>
  </nav>
</header>

<div class="grid-container">
  <div id="collecte-animation" class="sp"></div>
  <p class="open-sans">
    <span class="open-sans">Setup : </span>
    <span id="js-setup" class="open-sans color-noir">{{setup}}</span>
  </p>

  {# On affiche les messages #}
  {% for message in app.flashes('alert') %}
      <div class="callout alert" data-closable>
        <p class="open-sans text-justify callout-message">{{ message }}</p>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}

<div class="grid-x">
  <p class="open-sans">Afficher les variations ?</p>
  <div class="switch small">
    <input class="switch-input" id="js-oui-non" type="checkbox" name="variationSwitch">
    <label class="switch-paddle" for="js-oui-non">
      <span class="show-for-sr">Afficher les variations ?</span>
      <span class="switch-active" aria-hidden="true">Oui</span>
      <span class="switch-inactive" aria-hidden="true">Non</span>
    </label>
  </div>
</div>
  <div id="tableau-notes" class="table-scroll">
    <table>
      <caption class="claire-hand no-caption"></caption>
      <thead>
        <tr class="open-sans">
          <th colspan="1" scope="col" class="text-center">Application</th>
          <th colspan="1" scope="col" class="text-center">Critère</th>
          <th colspan="1" scope="col" class="text-center">Version</th>
          <th colspan="1" scope="col" class="text-center">Bloquant</th>
          <th colspan="1" scope="col" class="text-center">Critique</th>
          <th colspan="1" scope="col" class="text-center">Majeur</th>
          <th colspan="1" scope="col" class="text-center">Note</th>
        </tr>
      </thead>
      <tbody id="mon-bo-tableau01" class="open-sans">
        <tr>
          <td id="application-01" rowspan="4" class="text-center">
            <h4>{{monApplication}}</h4>
            <span class="open-sans version-initiale">{{initial_version_application}}</span>
            <br />
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"
                  class="information-svg js-affiche-projet-reference">
                  <path d="M168.6 1.6c-17.2 4.2-33.3 19.4-38.2 36.1l-1.5 5.3h-18.2c-15.3 0-18.6.3-20.6 1.6C86.9 46.9 85 52 85 58.5V64H66.3C38.4 64 28.9 67.1 16 80 8.6 87.4 3.7 95.8 1.5 105.1c-2.2 9.7-2.2 292.1 0 301.8C5 421.7 16.3 435.8 30 442.2c4.1 2 9.9 4.1 12.8 4.7 3.6.7 30.7 1.1 83.8 1.1 71.5 0 78.8-.1 81.4-1.7 5.5-3.2 6.7-11.2 2.6-16l-2.4-2.8-80.9-.5-80.8-.5-6.7-3.3c-7.6-3.7-12-8.2-15.7-16.2l-2.6-5.5v-291l3.3-6.7c3.7-7.6 8.2-12 16.2-15.7 5.2-2.5 6.5-2.6 24.8-2.9l19.2-.4v6.1c0 12.9 3.4 21.5 11.2 28.8 8.9 8.2 5.1 7.8 85.8 7.8h71.5l5.7-2.8c6.2-3.1 11.6-8.4 14.9-14.9 1.7-3.3 2.4-6.7 2.8-14.3l.6-10H297c19 0 19.6.1 25.1 2.6 6.9 3.3 12.7 8.9 16 15.5 2.4 4.9 2.4 5.2 2.9 42.9.5 41 .6 41.2 6 44 3.7 1.9 6.3 1.9 10.1-.1 5.6-2.8 5.9-5 5.9-41.1 0-38.4-.6-43.9-5.9-54.8-6.4-13.4-15.8-22-29.7-27.3-6.5-2.4-8.2-2.6-28.6-3l-21.8-.4v-7.3c0-6.4-.3-7.8-2.4-10.2l-2.4-2.8-19.3-.5-19.2-.5-1.2-4.1C224.6 11.5 195.9-5 168.6 1.6zm26 22.8c10.2 4.7 16.9 14.2 18.4 26 1.6 12.8 3.1 13.6 26 13.6h17v17c0 19.3-.8 22.2-6.5 24.6-5 2.1-130.9 2.1-135.9 0-6.2-2.6-6.6-4-6.6-23.8V64h17.1c22.3 0 23.8-.8 25.4-13.5 1.3-10.2 7.2-19.5 15.3-24.2 9.8-5.8 19.9-6.4 29.8-1.9z"/>
                  <path d="M69.3 172.2c-5.7 2.8-6.7 12.2-1.7 16.9l2.6 2.4 109.9.3c122.3.3 114.5.7 117.5-6.5 1.9-4.3.5-9.3-3.3-12.3-2.5-2-3.7-2-112.7-1.9-74.1 0-110.8.4-112.3 1.1zM69.3 236.2c-5.7 2.8-6.7 12.2-1.7 16.9l2.6 2.4 77.9.3c86.8.3 82.6.6 85.5-6.5 1.9-4.3.5-9.3-3.3-12.3-2.5-2-3.8-2-80.7-1.9-51.9 0-78.8.4-80.3 1.1zM351 236.4c-60.7 10.8-106.5 58-115.1 118.5-1.5 10.6-.7 36.1 1.5 46.1 5.8 26.5 17.9 49.2 36.7 68.5 20.1 20.7 43.1 33.4 71.7 39.7 14.5 3.2 40.7 3.2 55.1 0 28.5-6.4 50.2-18.2 70.2-38.1 19.9-20 31.7-41.7 38.1-70.2 3.2-14.4 3.2-40.6 0-55.1-3-13.7-6.6-23.7-12.7-35.6-7.4-14.3-15.1-24.5-27-36.1-19.1-18.6-41.5-30.7-68-36.6-9.7-2.2-40.5-2.9-50.5-1.1zm48 22.5c42.9 9.8 77.1 43.1 88 85.7 10.2 39.6-1.7 82.2-30.9 111.5-40.3 40.3-101.8 45.8-149.6 13.5-14.1-9.5-30.2-28.1-38.4-44.3-9.6-19.2-13.9-44.2-11.1-65.9 6.5-52 46.3-93.5 97.8-101.9 11.5-1.9 32.8-1.2 44.2 1.4z"/>
                  <path d="M365.9 301.9c-4.9 5-3.6 13.3 2.6 16.6 6.3 3.5 14-.4 15.2-7.8 1.5-9.7-10.8-15.8-17.8-8.8zM369.4 342.4c-6.6 2.9-6.4 1.3-6.4 51.8 0 31.5.3 46.5 1.1 48.2 2.8 6 12.2 7.1 17 2l2.4-2.6.3-45.9c.3-51.1.3-50.7-6.3-53.5-4.1-1.7-4.2-1.7-8.1 0zM69.3 300.2c-5.7 2.8-6.7 12.2-1.7 16.9l2.6 2.4h115.6l2.6-2.4c5.1-4.8 4-14.2-2-17-3.3-1.5-113.9-1.4-117.1.1z"/>
              </svg>
              </span>Date référence :</span><br />
                {{ initial_date_application|date("d/m/Y") }}
                </td>
          <td id="indicateur-01" class="text-left couleur-niveau-01">Maintenabilité</td>
          <td id="application-01" rowspan="4" class="text-center">
                {{version_application}}<br />
                {{type_application}}<br>
                {{date_application|date("d/m/Y")}}
                </td>
          <td id="blocker-01" class="text-right">{{code_smell_blocker|number_format(0, '.', ' ')}}
          <span class="{{evolution_code_smell_blocker}} hide"></span></td>
          <td id="critical-01" class="text-right">{{code_smell_critical|number_format(0, '.', ' ')}}
          <span class="{{evolution_code_smell_critical}} hide"></span></td>
          <td id="major-01" class="text-right">{{code_smell_major|number_format(0, '.', ' ')}}
          <span class="{{evolution_code_smell_major}} hide"></span></td>
          <td id="note-01" class="text-center note-{{note_code_smell|lower}}">{{note_code_smell}}</td>
        </tr>
        <tr>
          <td id="indicateur-02" class="text-left couleur-niveau-02">Fiabilité</td>
          <td id="blocker-02" class="text-right">{{bug_blocker|number_format(0, '.', ' ')}}
          <span class="{{evolution_bug_blocker}} hide"></span></td>
          <td id="critical-02" class="text-right">{{bug_critical|number_format(0, '.', ' ')}}
          <span class="{{evolution_bug_critical}} hide"></span></td>
          <td id="major-02" class="text-right">{{bug_major|number_format(0, '.', ' ')}}
          <span class="{{evolution_bug_major}} hide"></span></td>
          <td id="note-02" class="text-center note-{{note_reliability|lower}}">{{note_reliability}}</td>
        </tr>
        <tr>
          <td id="indicateur-03" class="text-left couleur-niveau-03">Sécurité</td>
          <td id="blocker-03" class="text-right">{{vulnerability_blocker|number_format(0, '.', ' ')}}
          <span class="{{evolution_vulnerability_blocker}} hide"></span></td>
          <td id="critical-03" class="text-right">{{vulnerability_critical|number_format(0, '.', ' ')}}
          <span class="{{evolution_vulnerability_blocker}} hide"></span></td>
          <td id="major-03" class="text-right">{{vulnerability_major|number_format(0, '.', ' ')}}
          <span class="{{evolution_vulnerability_blocker}} hide"></span></td>
          <td id="note-03" class="text-center note-{{note_security|lower}}">{{note_security}}</td>
        </tr>
        <tr>
          <td id="indicateur-04" class="text-left couleur-niveau-04">Sécurité Review</td>
          <td id="hotspot-01" class="text-center" colspan="3">{{hotspot|number_format(0, '.', ' ')}}
          <span class="{{evolution_hotspot}} hide"></span></td>
          <td id="note-04" class="text-center note-{{note_hotspot|lower}}">{{note_hotspot}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <div id="tableau-repartition" class="table-scroll">
      <table class="hover">
        <caption class="claire-hand"></caption>
        <thead>
          <tr class="open-sans">
            <th colspan="1" scope="col" class="text-center">Application</th>
            <th colspan="1" scope="col" class="text-center">Critère</th>
            <th colspan="1" scope="col" class="text-center">Version</th>
            <th colspan="3" scope="col" class="text-center">Métier</th>
            <th colspan="3" scope="col" class="text-center">Présentation</th>
          </tr>
            <th colspan="3" scope="col"></th>
            <th colspan="1" scope="col" class="text-center">Bloquant</th>
            <th colspan="1" scope="col" class="text-center">Crtique</th>
            <th colspan="1" scope="col" class="text-center">Majeur</th>
            <th colspan="1" scope="col" class="text-center">Bloquant</th>
            <th colspan="1" scope="col" class="text-center">Crtique</th>
            <th colspan="1" scope="col" class="text-center">Majeur</th>
          <tr>

        </thead>
        <tbody id="mon-bo-tableau02" class="open-sans">
        <tr>
          <tr class="open-sans">
              <td id="application-02" rowspan="3" class="text-center blanc">
                <h4>{{monApplication}}</h4>
                Date référence<br />
                {{initial_date_application|date("d/m/Y")}}</td>
          <th  scope="row" id="code-smell" class="text-left couleur-niveau-01">Maintenabilité</th>
          <td id="application-03" rowspan="3" class="text-center blanc">
                {{version_application}}<br />
                {{type_application}}<br>
                {{date_application|date("d/m/Y")}}
                </td>

          <td id="metier-codes-smell-01" class="text-center">
            {{nombre_metier_code_smell_blocker|number_format(0, '.', ' ')}}
          </td>
          <td id="metier-code-smell-02" class="text-center">
            {{nombre_metier_code_smell_critical|number_format(0, '.', ' ')}}
          </td>
          <td id="metier-code_smell-03" class="text-center">
            {{nombre_metier_code_smell_major|number_format(0, '.', ' ')}}
          </td>
          <td id="presentation-code_smell-04" class="text-center">
            {{nombre_presentation_code_smell_blocker|number_format(0, '.', ' ')}}
          </td>
          <td id="presentation-code_smell-05" class="text-center">
            {{nombre_presentation_code_smell_critical|number_format(0, '.', ' ')}}
          </td>
          <td id="presentation-code_smell-06" class="text-center">
            {{nombre_presentation_code_smell_major|number_format(0, '.', ' ')}}
          </td>
        </tr>
        <tr>
          <th scope="row "id="fiabilite" class="text-left couleur-niveau-02">Fiabilité</th>
          <td id="metier-fiabilite-01" class="text-center">
          {{nombre_metier_reliability_blocker|number_format(0, '.', ' ')}}</td>
          <td id="metier-fiabilite-02" class="text-center">
          {{nombre_metier_reliability_critical|number_format(0, '.', ' ')}}</td>
          <td id="metier-fiabilite-03" class="text-center">
          {{nombre_metier_reliability_major|number_format(0, '.', ' ')}}</td>
          <td id="presentation-fiabilite-04" class="text-center">
          {{nombre_presentation_reliability_blocker|number_format(0, '.', ' ')}}</td>
          <td id="presentation-fiabilite-05" class="text-center">
          {{nombre_presentation_reliability_critical|number_format(0, '.', ' ')}}</td>
          <td id="presentation-fiabilite-06" class="text-center">
          {{nombre_presentation_reliability_major|number_format(0, '.', ' ')}}</td>
        </tr>
        <tr>
          <th  scope="row" id="indicateur-03" class="text-left couleur-niveau-03">Vulnérabilité</th>
          <td id="metier-vulnerabilite-01" class="text-center">
            {{nombre_metier_vulnerability_blocker|number_format(0, '.', ' ')}}
          </td>
          <td id="metier-vulnerabilite-02" class="text-center">
            {{nombre_metier_vulnerability_critical|number_format(0, '.', ' ')}}
          </td>
          <td id="metier-vulnerabilite-03" class="text-center">
            {{nombre_metier_vulnerability_major|number_format(0, '.', ' ')}}
          </td>
          <td id="presentation-vulnerabilite-04" class="text-center">
            {{nombre_presentation_vulnerability_blocker|number_format(0, '.', ' ')}}
          </td>
          <td id="presentation-vulnerabilite-05" class="text-center">
            {{nombre_presentation_vulnerability_critical|number_format(0, '.', ' ')}}
          </td>
          <td id="presentation-vulnerabilite-06" class="text-center">
            {{nombre_presentation_vulnerability_major|number_format(0, '.', ' ')}}
          </td>
        </tr>
        </tbody>
      </table>
  </div>
  <br />
</div>

{# Affichage du tableau des projets #}
<div id="modal-projet-reference" class="reveal" data-reveal data-close-on-click="true"
data-animation-in="fade-in" data-animation-out="fade-out">
  <h2 class="claire-hand">Projet de référence.</h2>
  <h4 class="claire-hand">{{monApplication}}</h4>
  <h4 class="open-sans">{{initial_date_application|format_datetime('full', 'short', locale='fr') }}</h4>
  <table>
      <caption class="claire-hand"></caption>
      <thead>
        <tr class="open-sans">
          <th colspan="1" scope="col" class="text-center">Critère</th>
          <th colspan="1" scope="col" class="text-center">Bloquant</th>
          <th colspan="1" scope="col" class="text-center">Critique</th>
          <th colspan="1" scope="col" class="text-center">Majeur</th>
          <th colspan="1" scope="col" class="text-center">Note</th>
        </tr>
      </thead>
      <tbody id="mon-bo-tableau03" class="open-sans">
        <tr>
          <th  scope="row" id="initial-indicateur-01" class="text-left couleur-niveau-01">Maintenabilité</th>
          <td id="initial-blocker-01" class="text-center">
            {{modal_initial_code_smell_blocker|number_format(0, '.', ' ')}}
          </td>
          <td id="initial-critical-01" class="text-center">
            {{modal_initial_code_smell_critical|number_format(0, '.', ' ')}}
          </td>
          <td id="initial-major-01" class="text-center">
            {{modal_initial_code_smell_major|number_format(0, '.', ' ')}}
          </td>
          <td id="initial-note-01" class="text-center note-{{initial_note_code_smell|lower}}">
            {{initial_note_code_smell}}
          </td>
        </tr>
        <tr>
          <th  scope="row" id="initial-indicateur-02" class="text-left couleur-niveau-02">Fiabilité</th>
          <td id="initial-blocker-02" class="text-center">
            {{modal_initial_bug_blocker|number_format(0, '.', ' ')}}
          </td>
          <td id="initial-critical-02" class="text-center">
            {{modal_initial_bug_critical|number_format(0, '.', ' ')}}
          </td>
          <td id="initial-major-02" class="text-center">
            {{modal_initial_bug_major|number_format(0, '.', ' ')}}
          </td>
          <td id="initial-note-02" class="text-center note-{{initial_note_reliability|lower}}">
            {{initial_note_reliability}}
          </td>
        </tr>
        <tr>
          <th  scope="row" id="initial-indicateur-03" class="text-left couleur-niveau-03">Sécurité</th>
          <td id="initial-blocker-03" class="text-center">
            {{modal_initial_vulnerability_blocker|number_format(0, '.', ' ')}}
          </td>
          <td id="initial-critical-03" class="text-center">
            {{modal_initial_vulnerability_critical|number_format(0, '.', ' ')}}
          </td>
          <td id="initial-major-03" class="text-center">
            {{modal_initial_vulnerability_major|number_format(0, '.', ' ')}}
          </td>
          <td id="initial-note-03" class="text-center note-{{initial_note_security|lower}}">
            {{initial_note_security}}
          </td>
        </tr>
        <tr>
          <td id="initial-indicateur-03" class="text-left couleur-niveau-04">Hotspot</td>
          <td id="initial_hotspot-01" class="text-center" colspan="3">
            {{modal_initial_hotspot|number_format(0, '.', ' ')}}
          </td>
          <td id="initial_note-04" class="text-center note-{{initial_note_hotspot|lower}}">
            {{initial_note_hotspot}}
          </td>
        </tr>
      </tbody>
    </table>
  <a id="fermer-projet-reference" class="expanded button open-sans"
    data-close aria-label="Close reveal" type="button">Fermer</a>
  <a class="close-button" data-close aria-label="Close reveal">&#215;</a>
</div>

<br /><br />
{# Chargement de la section footer #}
{{ include('footer.html.twig') }}
{# Chargement du code javascript #}
{% block javascripts %}
  {{ encore_entry_script_tags('cosui') }}
{% endblock %}
</body>
</html>
