{% set title = 'Plan du site' %}
{% set description = 'Ma Moulinette - plan du site.' %}
<!DOCTYPE html>
<html lang="fr">
  {# Chargement de la section HEAD #}
  <head>
    {{ include('head.html.twig') }}
    {% block stylesheets %}
      {{ encore_entry_link_tags('plan-du-site') }}
    {% endblock %}
  </head>

  <body>
    {# Chargement de la section header #}
    {{ include('header.html.twig') }}
    <br>

    <header class="grid-container">
      <nav id="fil-ariane" aria-label="vous êtes ici :">
        <ol class="claire-hand breadcrumbs">
          <li><a href="/" alt="">Accueil</a></li>
          <li><span class="show-for-sr">Vous êtes sur la page :</span>Plan-du-site</li>
        </ol>
      </nav>
    </header>

    <div class="grid-container grid-x" role="main">
      <div class="grid-x">
        <h1 class="h5 claire-hand cell">Légende</h1>
        <ul class="open-sans">
          <li class="marqueur-circle color-bleu">Indique un lien vers une page.</li>
          <li class="marqueur-square color-bleu">Indique une action (ouvrir une page, lancer une action).</li>
        </ul>
      </div>

      <div class="timeline">
        {# Authentification #}
        <div class="timeline-item">
          <div class="timeline-icon" role="presentation">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
              <path d="M370 1.5c-14.3 2.1-24.9 5.4-38.1 11.9-15.7 7.8-19.5 11.1-78.2 69.5-60.7 60.5-64.6 64.9-73.3 83l-4.7 9.7-10.6 5.2c-5.8 2.8-14.4 8.1-19.1 11.6-12.9 9.7-118.3 116-124.5 125.5-21.7 33.2-27.1 71.8-15 108.6 13 39.7 45.1 70.1 85.5 81 29.6 7.9 60.2 4.8 88.2-8.9 15.9-7.9 19.3-10.9 78.1-69.5 60.7-60.6 64.9-65.3 73.5-83.2l4.7-9.6 9.5-4.6c17.7-8.4 22.5-12.7 83.1-73.4 59.3-59.5 61.6-62.1 70-79.3 18.3-37.3 16.7-81.8-4.3-117.5-25.5-43.3-75.6-67.4-124.8-60Zm35.2 16.6c32 4.4 62.7 26.7 78.1 56.7 8.3 16.2 11.9 31 11.9 49.8 0 23.9-7.1 45.4-21.2 64.4-2.7 3.6-29.5 31.1-59.7 61.1-56.1 55.8-59.8 59.1-75 66.8-29.5 14.7-65.5 14.5-95.6-.5-14.3-7.2-36.402-34.77-52.202-52.37-4.3-4.7-7.734 4.296-11.234 6.896-3.8 2.8-5.971 1.557 10.836 21.274.7 1.8 6.5 8.5 12.9 14.9 11 11 20.6 18.3 30.5 23.1 2.5 1.2 4.5 2.5 4.5 2.8 0 1.3-88.8 88.8-92.1 90.9-17.1 10.2-38.5 7.6-52.5-6.3-14-14.1-16.5-35.6-6-52.6 1.6-2.5 26-27.7 54.5-56.1 46.4-46.5 52.2-51.9 58.1-54.8 11.3-5.4 25-5.7 36.3-.9 2.8 1.2 8.5 5.1 12.7 8.6 4.1 3.5 9.5 7.5 11.9 8.9 17.1 10.2 38.6 10.8 57.4 1.6 6.7-3.3 10.9-7.2 60.5-56.7 33.3-33.2 54.8-55.3 57.3-59.1 12-18.2 12.5-43.3 1.3-62.2-7.1-11.9-20-22.2-33.4-26.5-4.9-1.5-9.1-2-17-2-12.8-.1-23.5 3-32.6 9.3-3.2 2.2-27 25.1-52.9 50.9l-47 46.8-8-2c-6.5-1.7-11.4-2.1-26-2.2-9.9-.1-19.5.2-21.2.6-1.8.4-3.3.4-3.3-.1s2.3-4.4 5.1-8.7c4-6.2 16.3-19.1 58.3-61.3 29.2-29.3 56.4-56 60.4-59.2 23.6-19 52.1-26.3 84.4-21.8zm-6.1 65.3c7.6 2.3 12.9 5.5 18.5 11 15.2 15.2 16.7 38.9 3.6 55.8-6.3 8.1-101.1 102.2-106.1 105.3-7.1 4.4-14.6 6.5-23 6.5-12.8 0-20-3.1-32.6-13.9-11.8-10.1-24.6-15.1-39.2-15.1-10 0-16.4 1.5-26.3 6.2-8.5 4-8.6 4.1-61.8 57.2-29.3 29.2-55 55.6-57 58.6-8.5 12.8-11.8 28.5-8.9 43 2.5 12.8 7.3 21.9 16.6 31.1 5.9 5.9 9.7 8.7 15.2 11.4 17.8 8.4 35.4 8.4 52.9-.1 7.1-3.5 10.1-6.3 56.2-52.2 45.1-44.9 48.8-48.4 51.5-47.9 1.5.3 6.6 1.2 11.3 2.1 9.4 1.8 31.1 2.2 39.8.8 6.3-1.1 6.3-1.2-.5 9.2-3.4 5.2-19.4 21.9-60.7 63.2-46.2 46.2-57.6 57.1-64.7 61.7-9.6 6.3-18.4 10.4-31.5 14.3-8.3 2.6-10.2 2.8-27.4 2.8-17.2.1-19.2-.1-28.3-2.6-37.7-10.6-66-38.8-76.4-76.3-2.5-9.1-2.8-11.5-2.8-27.5 0-19.8 1.1-25.8 7.6-41.8 7.6-18.7 10.1-21.6 70.3-81.8 30.3-30.4 58-57.3 61.6-59.8 3.5-2.5 10.5-6.6 15.5-9.1 44.7-22 99.234-9.053 131.034 29.347 17.969 18.676 22.454 25.115 25.735 20.006 7.135-6.25 15.244-3.847-3.754-22.26C317.32 212.64 287.1 186.5 277.5 181.8c-2.5-1.2-4.5-2.5-4.5-2.8 0-1.4 88-88.1 92-90.6 9.7-6 23.9-8.1 34.1-5z"/>
            </svg>
          </div>
          <div class="timeline-content">
            <p class="open-sans timeline-content-titre">Authentification</p>
            <ul class="open-sans timeline-content-liste">
              <li class="timeline-content-link marqueur-circle">
                <a href="{{ path('home', {}) }}" >Se connecter</a>
              </li>
              <li class="timeline-content-link marqueur-circle">
                <a href="{{ path('register', {}) }}" >S'inscrire</a>
              </li>
            </ul>
          </div>
        </div>

        {# Menu #}
        <div class="timeline-item">
          <div class="timeline-icon">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
              <path d="M370 1.5c-14.3 2.1-24.9 5.4-38.1 11.9-15.7 7.8-19.5 11.1-78.2 69.5-60.7 60.5-64.6 64.9-73.3 83l-4.7 9.7-10.6 5.2c-5.8 2.8-14.4 8.1-19.1 11.6-12.9 9.7-118.3 116-124.5 125.5-21.7 33.2-27.1 71.8-15 108.6 13 39.7 45.1 70.1 85.5 81 29.6 7.9 60.2 4.8 88.2-8.9 15.9-7.9 19.3-10.9 78.1-69.5 60.7-60.6 64.9-65.3 73.5-83.2l4.7-9.6 9.5-4.6c17.7-8.4 22.5-12.7 83.1-73.4 59.3-59.5 61.6-62.1 70-79.3 18.3-37.3 16.7-81.8-4.3-117.5-25.5-43.3-75.6-67.4-124.8-60Zm35.2 16.6c32 4.4 62.7 26.7 78.1 56.7 8.3 16.2 11.9 31 11.9 49.8 0 23.9-7.1 45.4-21.2 64.4-2.7 3.6-29.5 31.1-59.7 61.1-56.1 55.8-59.8 59.1-75 66.8-29.5 14.7-65.5 14.5-95.6-.5-14.3-7.2-36.402-34.77-52.202-52.37-4.3-4.7-7.734 4.296-11.234 6.896-3.8 2.8-5.971 1.557 10.836 21.274.7 1.8 6.5 8.5 12.9 14.9 11 11 20.6 18.3 30.5 23.1 2.5 1.2 4.5 2.5 4.5 2.8 0 1.3-88.8 88.8-92.1 90.9-17.1 10.2-38.5 7.6-52.5-6.3-14-14.1-16.5-35.6-6-52.6 1.6-2.5 26-27.7 54.5-56.1 46.4-46.5 52.2-51.9 58.1-54.8 11.3-5.4 25-5.7 36.3-.9 2.8 1.2 8.5 5.1 12.7 8.6 4.1 3.5 9.5 7.5 11.9 8.9 17.1 10.2 38.6 10.8 57.4 1.6 6.7-3.3 10.9-7.2 60.5-56.7 33.3-33.2 54.8-55.3 57.3-59.1 12-18.2 12.5-43.3 1.3-62.2-7.1-11.9-20-22.2-33.4-26.5-4.9-1.5-9.1-2-17-2-12.8-.1-23.5 3-32.6 9.3-3.2 2.2-27 25.1-52.9 50.9l-47 46.8-8-2c-6.5-1.7-11.4-2.1-26-2.2-9.9-.1-19.5.2-21.2.6-1.8.4-3.3.4-3.3-.1s2.3-4.4 5.1-8.7c4-6.2 16.3-19.1 58.3-61.3 29.2-29.3 56.4-56 60.4-59.2 23.6-19 52.1-26.3 84.4-21.8zm-6.1 65.3c7.6 2.3 12.9 5.5 18.5 11 15.2 15.2 16.7 38.9 3.6 55.8-6.3 8.1-101.1 102.2-106.1 105.3-7.1 4.4-14.6 6.5-23 6.5-12.8 0-20-3.1-32.6-13.9-11.8-10.1-24.6-15.1-39.2-15.1-10 0-16.4 1.5-26.3 6.2-8.5 4-8.6 4.1-61.8 57.2-29.3 29.2-55 55.6-57 58.6-8.5 12.8-11.8 28.5-8.9 43 2.5 12.8 7.3 21.9 16.6 31.1 5.9 5.9 9.7 8.7 15.2 11.4 17.8 8.4 35.4 8.4 52.9-.1 7.1-3.5 10.1-6.3 56.2-52.2 45.1-44.9 48.8-48.4 51.5-47.9 1.5.3 6.6 1.2 11.3 2.1 9.4 1.8 31.1 2.2 39.8.8 6.3-1.1 6.3-1.2-.5 9.2-3.4 5.2-19.4 21.9-60.7 63.2-46.2 46.2-57.6 57.1-64.7 61.7-9.6 6.3-18.4 10.4-31.5 14.3-8.3 2.6-10.2 2.8-27.4 2.8-17.2.1-19.2-.1-28.3-2.6-37.7-10.6-66-38.8-76.4-76.3-2.5-9.1-2.8-11.5-2.8-27.5 0-19.8 1.1-25.8 7.6-41.8 7.6-18.7 10.1-21.6 70.3-81.8 30.3-30.4 58-57.3 61.6-59.8 3.5-2.5 10.5-6.6 15.5-9.1 44.7-22 99.234-9.053 131.034 29.347 17.969 18.676 22.454 25.115 25.735 20.006 7.135-6.25 15.244-3.847-3.754-22.26C317.32 212.64 287.1 186.5 277.5 181.8c-2.5-1.2-4.5-2.5-4.5-2.8 0-1.4 88-88.1 92-90.6 9.7-6 23.9-8.1 34.1-5z"/>
            </svg>
          </div>
          <div class="timeline-content">
            <p class="open-sans timeline-content-titre">Menu principal</p>
            <ul class="open-sans timeline-content-liste">
              <li class="timeline-content-link marqueur-circle">
                <a href="/admin?menuIndex=2&submenuIndex=-1" >Gestion des utilisateurs.</a>
              </li>
              <li class="timeline-content-link marqueur-circle">
                <a href="{{ path('suivi', {}) }}" >Gestion des batch.</a>
              </li>
              <li class="timeline-content-link marqueur-circle">
                <a href="/admin?menuIndex=1&submenuIndex=-1" >Informations.</a>
              </li>
              <li class="timeline-content-link marqueur-circle">
                <a href="{{ path('preferences', {}) }}" >Mes préférences.</a>
              </li>
              <li class="timeline-content-link marqueur-circle">
                <a href="{{ path('logout', {}) }}" >Se déconnecter.</a>
              </li>
            </ul>
          </div>
        </div>

        {# Accueil #}
        <div class="timeline-item">
          <div class="timeline-icon">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
              <path d="M370 1.5c-14.3 2.1-24.9 5.4-38.1 11.9-15.7 7.8-19.5 11.1-78.2 69.5-60.7 60.5-64.6 64.9-73.3 83l-4.7 9.7-10.6 5.2c-5.8 2.8-14.4 8.1-19.1 11.6-12.9 9.7-118.3 116-124.5 125.5-21.7 33.2-27.1 71.8-15 108.6 13 39.7 45.1 70.1 85.5 81 29.6 7.9 60.2 4.8 88.2-8.9 15.9-7.9 19.3-10.9 78.1-69.5 60.7-60.6 64.9-65.3 73.5-83.2l4.7-9.6 9.5-4.6c17.7-8.4 22.5-12.7 83.1-73.4 59.3-59.5 61.6-62.1 70-79.3 18.3-37.3 16.7-81.8-4.3-117.5-25.5-43.3-75.6-67.4-124.8-60Zm35.2 16.6c32 4.4 62.7 26.7 78.1 56.7 8.3 16.2 11.9 31 11.9 49.8 0 23.9-7.1 45.4-21.2 64.4-2.7 3.6-29.5 31.1-59.7 61.1-56.1 55.8-59.8 59.1-75 66.8-29.5 14.7-65.5 14.5-95.6-.5-14.3-7.2-36.402-34.77-52.202-52.37-4.3-4.7-7.734 4.296-11.234 6.896-3.8 2.8-5.971 1.557 10.836 21.274.7 1.8 6.5 8.5 12.9 14.9 11 11 20.6 18.3 30.5 23.1 2.5 1.2 4.5 2.5 4.5 2.8 0 1.3-88.8 88.8-92.1 90.9-17.1 10.2-38.5 7.6-52.5-6.3-14-14.1-16.5-35.6-6-52.6 1.6-2.5 26-27.7 54.5-56.1 46.4-46.5 52.2-51.9 58.1-54.8 11.3-5.4 25-5.7 36.3-.9 2.8 1.2 8.5 5.1 12.7 8.6 4.1 3.5 9.5 7.5 11.9 8.9 17.1 10.2 38.6 10.8 57.4 1.6 6.7-3.3 10.9-7.2 60.5-56.7 33.3-33.2 54.8-55.3 57.3-59.1 12-18.2 12.5-43.3 1.3-62.2-7.1-11.9-20-22.2-33.4-26.5-4.9-1.5-9.1-2-17-2-12.8-.1-23.5 3-32.6 9.3-3.2 2.2-27 25.1-52.9 50.9l-47 46.8-8-2c-6.5-1.7-11.4-2.1-26-2.2-9.9-.1-19.5.2-21.2.6-1.8.4-3.3.4-3.3-.1s2.3-4.4 5.1-8.7c4-6.2 16.3-19.1 58.3-61.3 29.2-29.3 56.4-56 60.4-59.2 23.6-19 52.1-26.3 84.4-21.8zm-6.1 65.3c7.6 2.3 12.9 5.5 18.5 11 15.2 15.2 16.7 38.9 3.6 55.8-6.3 8.1-101.1 102.2-106.1 105.3-7.1 4.4-14.6 6.5-23 6.5-12.8 0-20-3.1-32.6-13.9-11.8-10.1-24.6-15.1-39.2-15.1-10 0-16.4 1.5-26.3 6.2-8.5 4-8.6 4.1-61.8 57.2-29.3 29.2-55 55.6-57 58.6-8.5 12.8-11.8 28.5-8.9 43 2.5 12.8 7.3 21.9 16.6 31.1 5.9 5.9 9.7 8.7 15.2 11.4 17.8 8.4 35.4 8.4 52.9-.1 7.1-3.5 10.1-6.3 56.2-52.2 45.1-44.9 48.8-48.4 51.5-47.9 1.5.3 6.6 1.2 11.3 2.1 9.4 1.8 31.1 2.2 39.8.8 6.3-1.1 6.3-1.2-.5 9.2-3.4 5.2-19.4 21.9-60.7 63.2-46.2 46.2-57.6 57.1-64.7 61.7-9.6 6.3-18.4 10.4-31.5 14.3-8.3 2.6-10.2 2.8-27.4 2.8-17.2.1-19.2-.1-28.3-2.6-37.7-10.6-66-38.8-76.4-76.3-2.5-9.1-2.8-11.5-2.8-27.5 0-19.8 1.1-25.8 7.6-41.8 7.6-18.7 10.1-21.6 70.3-81.8 30.3-30.4 58-57.3 61.6-59.8 3.5-2.5 10.5-6.6 15.5-9.1 44.7-22 99.234-9.053 131.034 29.347 17.969 18.676 22.454 25.115 25.735 20.006 7.135-6.25 15.244-3.847-3.754-22.26C317.32 212.64 287.1 186.5 277.5 181.8c-2.5-1.2-4.5-2.5-4.5-2.8 0-1.4 88-88.1 92-90.6 9.7-6 23.9-8.1 34.1-5z"/>
            </svg>          </div>
          <div class="timeline-content">
            <p class="open-sans timeline-content-titre">Accueil</p>
            <ul class="open-sans timeline-content-liste">
              <li class="timeline-content-link marqueur-square">Mise à jour de la liste des projets.</li>
              <li class="timeline-content-link marqueur-circle">
                <a href="{{ path('profil', {}) }}" >Liste des profils sonarqube.</a>
              </li>
              <li class="timeline-content-link marqueur-circle">
                <a href="{{ path('projet', {}) }}" >Mon projet</a>
              </li>
            </ul>
          </div>
        </div>

        {# Profils #}
        <div class="timeline-item">
          <div class="timeline-icon">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
              <path d="M370 1.5c-14.3 2.1-24.9 5.4-38.1 11.9-15.7 7.8-19.5 11.1-78.2 69.5-60.7 60.5-64.6 64.9-73.3 83l-4.7 9.7-10.6 5.2c-5.8 2.8-14.4 8.1-19.1 11.6-12.9 9.7-118.3 116-124.5 125.5-21.7 33.2-27.1 71.8-15 108.6 13 39.7 45.1 70.1 85.5 81 29.6 7.9 60.2 4.8 88.2-8.9 15.9-7.9 19.3-10.9 78.1-69.5 60.7-60.6 64.9-65.3 73.5-83.2l4.7-9.6 9.5-4.6c17.7-8.4 22.5-12.7 83.1-73.4 59.3-59.5 61.6-62.1 70-79.3 18.3-37.3 16.7-81.8-4.3-117.5-25.5-43.3-75.6-67.4-124.8-60Zm35.2 16.6c32 4.4 62.7 26.7 78.1 56.7 8.3 16.2 11.9 31 11.9 49.8 0 23.9-7.1 45.4-21.2 64.4-2.7 3.6-29.5 31.1-59.7 61.1-56.1 55.8-59.8 59.1-75 66.8-29.5 14.7-65.5 14.5-95.6-.5-14.3-7.2-36.402-34.77-52.202-52.37-4.3-4.7-7.734 4.296-11.234 6.896-3.8 2.8-5.971 1.557 10.836 21.274.7 1.8 6.5 8.5 12.9 14.9 11 11 20.6 18.3 30.5 23.1 2.5 1.2 4.5 2.5 4.5 2.8 0 1.3-88.8 88.8-92.1 90.9-17.1 10.2-38.5 7.6-52.5-6.3-14-14.1-16.5-35.6-6-52.6 1.6-2.5 26-27.7 54.5-56.1 46.4-46.5 52.2-51.9 58.1-54.8 11.3-5.4 25-5.7 36.3-.9 2.8 1.2 8.5 5.1 12.7 8.6 4.1 3.5 9.5 7.5 11.9 8.9 17.1 10.2 38.6 10.8 57.4 1.6 6.7-3.3 10.9-7.2 60.5-56.7 33.3-33.2 54.8-55.3 57.3-59.1 12-18.2 12.5-43.3 1.3-62.2-7.1-11.9-20-22.2-33.4-26.5-4.9-1.5-9.1-2-17-2-12.8-.1-23.5 3-32.6 9.3-3.2 2.2-27 25.1-52.9 50.9l-47 46.8-8-2c-6.5-1.7-11.4-2.1-26-2.2-9.9-.1-19.5.2-21.2.6-1.8.4-3.3.4-3.3-.1s2.3-4.4 5.1-8.7c4-6.2 16.3-19.1 58.3-61.3 29.2-29.3 56.4-56 60.4-59.2 23.6-19 52.1-26.3 84.4-21.8zm-6.1 65.3c7.6 2.3 12.9 5.5 18.5 11 15.2 15.2 16.7 38.9 3.6 55.8-6.3 8.1-101.1 102.2-106.1 105.3-7.1 4.4-14.6 6.5-23 6.5-12.8 0-20-3.1-32.6-13.9-11.8-10.1-24.6-15.1-39.2-15.1-10 0-16.4 1.5-26.3 6.2-8.5 4-8.6 4.1-61.8 57.2-29.3 29.2-55 55.6-57 58.6-8.5 12.8-11.8 28.5-8.9 43 2.5 12.8 7.3 21.9 16.6 31.1 5.9 5.9 9.7 8.7 15.2 11.4 17.8 8.4 35.4 8.4 52.9-.1 7.1-3.5 10.1-6.3 56.2-52.2 45.1-44.9 48.8-48.4 51.5-47.9 1.5.3 6.6 1.2 11.3 2.1 9.4 1.8 31.1 2.2 39.8.8 6.3-1.1 6.3-1.2-.5 9.2-3.4 5.2-19.4 21.9-60.7 63.2-46.2 46.2-57.6 57.1-64.7 61.7-9.6 6.3-18.4 10.4-31.5 14.3-8.3 2.6-10.2 2.8-27.4 2.8-17.2.1-19.2-.1-28.3-2.6-37.7-10.6-66-38.8-76.4-76.3-2.5-9.1-2.8-11.5-2.8-27.5 0-19.8 1.1-25.8 7.6-41.8 7.6-18.7 10.1-21.6 70.3-81.8 30.3-30.4 58-57.3 61.6-59.8 3.5-2.5 10.5-6.6 15.5-9.1 44.7-22 99.234-9.053 131.034 29.347 17.969 18.676 22.454 25.115 25.735 20.006 7.135-6.25 15.244-3.847-3.754-22.26C317.32 212.64 287.1 186.5 277.5 181.8c-2.5-1.2-4.5-2.5-4.5-2.8 0-1.4 88-88.1 92-90.6 9.7-6 23.9-8.1 34.1-5z"/>
            </svg>          </div>
          <div class="timeline-content">
            <p class="open-sans timeline-content-titre">Liste des profils sonarqube.</p>
            <ul class="open-sans timeline-content-liste">
              <li class="timeline-content-link marqueur-square">Mise à jour de la table.</li>
              <li class="timeline-content-link marqueur-square">Répartitions des langages.</li>
            </ul>
          </div>
        </div>

        {# Projet #}
        <div class="timeline-item">
          <div class="timeline-icon">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
              <path d="M370 1.5c-14.3 2.1-24.9 5.4-38.1 11.9-15.7 7.8-19.5 11.1-78.2 69.5-60.7 60.5-64.6 64.9-73.3 83l-4.7 9.7-10.6 5.2c-5.8 2.8-14.4 8.1-19.1 11.6-12.9 9.7-118.3 116-124.5 125.5-21.7 33.2-27.1 71.8-15 108.6 13 39.7 45.1 70.1 85.5 81 29.6 7.9 60.2 4.8 88.2-8.9 15.9-7.9 19.3-10.9 78.1-69.5 60.7-60.6 64.9-65.3 73.5-83.2l4.7-9.6 9.5-4.6c17.7-8.4 22.5-12.7 83.1-73.4 59.3-59.5 61.6-62.1 70-79.3 18.3-37.3 16.7-81.8-4.3-117.5-25.5-43.3-75.6-67.4-124.8-60Zm35.2 16.6c32 4.4 62.7 26.7 78.1 56.7 8.3 16.2 11.9 31 11.9 49.8 0 23.9-7.1 45.4-21.2 64.4-2.7 3.6-29.5 31.1-59.7 61.1-56.1 55.8-59.8 59.1-75 66.8-29.5 14.7-65.5 14.5-95.6-.5-14.3-7.2-36.402-34.77-52.202-52.37-4.3-4.7-7.734 4.296-11.234 6.896-3.8 2.8-5.971 1.557 10.836 21.274.7 1.8 6.5 8.5 12.9 14.9 11 11 20.6 18.3 30.5 23.1 2.5 1.2 4.5 2.5 4.5 2.8 0 1.3-88.8 88.8-92.1 90.9-17.1 10.2-38.5 7.6-52.5-6.3-14-14.1-16.5-35.6-6-52.6 1.6-2.5 26-27.7 54.5-56.1 46.4-46.5 52.2-51.9 58.1-54.8 11.3-5.4 25-5.7 36.3-.9 2.8 1.2 8.5 5.1 12.7 8.6 4.1 3.5 9.5 7.5 11.9 8.9 17.1 10.2 38.6 10.8 57.4 1.6 6.7-3.3 10.9-7.2 60.5-56.7 33.3-33.2 54.8-55.3 57.3-59.1 12-18.2 12.5-43.3 1.3-62.2-7.1-11.9-20-22.2-33.4-26.5-4.9-1.5-9.1-2-17-2-12.8-.1-23.5 3-32.6 9.3-3.2 2.2-27 25.1-52.9 50.9l-47 46.8-8-2c-6.5-1.7-11.4-2.1-26-2.2-9.9-.1-19.5.2-21.2.6-1.8.4-3.3.4-3.3-.1s2.3-4.4 5.1-8.7c4-6.2 16.3-19.1 58.3-61.3 29.2-29.3 56.4-56 60.4-59.2 23.6-19 52.1-26.3 84.4-21.8zm-6.1 65.3c7.6 2.3 12.9 5.5 18.5 11 15.2 15.2 16.7 38.9 3.6 55.8-6.3 8.1-101.1 102.2-106.1 105.3-7.1 4.4-14.6 6.5-23 6.5-12.8 0-20-3.1-32.6-13.9-11.8-10.1-24.6-15.1-39.2-15.1-10 0-16.4 1.5-26.3 6.2-8.5 4-8.6 4.1-61.8 57.2-29.3 29.2-55 55.6-57 58.6-8.5 12.8-11.8 28.5-8.9 43 2.5 12.8 7.3 21.9 16.6 31.1 5.9 5.9 9.7 8.7 15.2 11.4 17.8 8.4 35.4 8.4 52.9-.1 7.1-3.5 10.1-6.3 56.2-52.2 45.1-44.9 48.8-48.4 51.5-47.9 1.5.3 6.6 1.2 11.3 2.1 9.4 1.8 31.1 2.2 39.8.8 6.3-1.1 6.3-1.2-.5 9.2-3.4 5.2-19.4 21.9-60.7 63.2-46.2 46.2-57.6 57.1-64.7 61.7-9.6 6.3-18.4 10.4-31.5 14.3-8.3 2.6-10.2 2.8-27.4 2.8-17.2.1-19.2-.1-28.3-2.6-37.7-10.6-66-38.8-76.4-76.3-2.5-9.1-2.8-11.5-2.8-27.5 0-19.8 1.1-25.8 7.6-41.8 7.6-18.7 10.1-21.6 70.3-81.8 30.3-30.4 58-57.3 61.6-59.8 3.5-2.5 10.5-6.6 15.5-9.1 44.7-22 99.234-9.053 131.034 29.347 17.969 18.676 22.454 25.115 25.735 20.006 7.135-6.25 15.244-3.847-3.754-22.26C317.32 212.64 287.1 186.5 277.5 181.8c-2.5-1.2-4.5-2.5-4.5-2.8 0-1.4 88-88.1 92-90.6 9.7-6 23.9-8.1 34.1-5z"/>
            </svg>          </div>
          <div class="timeline-content">
            <p class="open-sans timeline-content-titre">Mon Projet</p>
            <ul class="open-sans timeline-content-liste">
              <li class="timeline-content-link marqueur-square">Collecte des données.</li>
              <li class="timeline-content-link marqueur-square">Afficher les résultats.</li>
              <li class="timeline-content-link marqueur-square">Afficher ma liste de projets.</li>
              <li class="timeline-content-link marqueur-square">Enregistrer les données collectées.</li>
              <li class="timeline-content-link marqueur-square">Lancer une analyse OWASP de mon projet.</li>
              <li class="timeline-content-link marqueur-square">Afficher la répartition des indicateurs par module.</li>
              <li class="timeline-content-link marqueur-square">Afficher le tableau de bord du COSUI.</li>
              <li class="timeline-content-link marqueur-square">Afficher les tableaux de suivi de mon projet.</li>
            </ul>
          </div>
        </div>

        {# bas de page #}
        <div class="timeline-item">
          <div class="timeline-icon">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
              <path d="M370 1.5c-14.3 2.1-24.9 5.4-38.1 11.9-15.7 7.8-19.5 11.1-78.2 69.5-60.7 60.5-64.6 64.9-73.3 83l-4.7 9.7-10.6 5.2c-5.8 2.8-14.4 8.1-19.1 11.6-12.9 9.7-118.3 116-124.5 125.5-21.7 33.2-27.1 71.8-15 108.6 13 39.7 45.1 70.1 85.5 81 29.6 7.9 60.2 4.8 88.2-8.9 15.9-7.9 19.3-10.9 78.1-69.5 60.7-60.6 64.9-65.3 73.5-83.2l4.7-9.6 9.5-4.6c17.7-8.4 22.5-12.7 83.1-73.4 59.3-59.5 61.6-62.1 70-79.3 18.3-37.3 16.7-81.8-4.3-117.5-25.5-43.3-75.6-67.4-124.8-60Zm35.2 16.6c32 4.4 62.7 26.7 78.1 56.7 8.3 16.2 11.9 31 11.9 49.8 0 23.9-7.1 45.4-21.2 64.4-2.7 3.6-29.5 31.1-59.7 61.1-56.1 55.8-59.8 59.1-75 66.8-29.5 14.7-65.5 14.5-95.6-.5-14.3-7.2-36.402-34.77-52.202-52.37-4.3-4.7-7.734 4.296-11.234 6.896-3.8 2.8-5.971 1.557 10.836 21.274.7 1.8 6.5 8.5 12.9 14.9 11 11 20.6 18.3 30.5 23.1 2.5 1.2 4.5 2.5 4.5 2.8 0 1.3-88.8 88.8-92.1 90.9-17.1 10.2-38.5 7.6-52.5-6.3-14-14.1-16.5-35.6-6-52.6 1.6-2.5 26-27.7 54.5-56.1 46.4-46.5 52.2-51.9 58.1-54.8 11.3-5.4 25-5.7 36.3-.9 2.8 1.2 8.5 5.1 12.7 8.6 4.1 3.5 9.5 7.5 11.9 8.9 17.1 10.2 38.6 10.8 57.4 1.6 6.7-3.3 10.9-7.2 60.5-56.7 33.3-33.2 54.8-55.3 57.3-59.1 12-18.2 12.5-43.3 1.3-62.2-7.1-11.9-20-22.2-33.4-26.5-4.9-1.5-9.1-2-17-2-12.8-.1-23.5 3-32.6 9.3-3.2 2.2-27 25.1-52.9 50.9l-47 46.8-8-2c-6.5-1.7-11.4-2.1-26-2.2-9.9-.1-19.5.2-21.2.6-1.8.4-3.3.4-3.3-.1s2.3-4.4 5.1-8.7c4-6.2 16.3-19.1 58.3-61.3 29.2-29.3 56.4-56 60.4-59.2 23.6-19 52.1-26.3 84.4-21.8zm-6.1 65.3c7.6 2.3 12.9 5.5 18.5 11 15.2 15.2 16.7 38.9 3.6 55.8-6.3 8.1-101.1 102.2-106.1 105.3-7.1 4.4-14.6 6.5-23 6.5-12.8 0-20-3.1-32.6-13.9-11.8-10.1-24.6-15.1-39.2-15.1-10 0-16.4 1.5-26.3 6.2-8.5 4-8.6 4.1-61.8 57.2-29.3 29.2-55 55.6-57 58.6-8.5 12.8-11.8 28.5-8.9 43 2.5 12.8 7.3 21.9 16.6 31.1 5.9 5.9 9.7 8.7 15.2 11.4 17.8 8.4 35.4 8.4 52.9-.1 7.1-3.5 10.1-6.3 56.2-52.2 45.1-44.9 48.8-48.4 51.5-47.9 1.5.3 6.6 1.2 11.3 2.1 9.4 1.8 31.1 2.2 39.8.8 6.3-1.1 6.3-1.2-.5 9.2-3.4 5.2-19.4 21.9-60.7 63.2-46.2 46.2-57.6 57.1-64.7 61.7-9.6 6.3-18.4 10.4-31.5 14.3-8.3 2.6-10.2 2.8-27.4 2.8-17.2.1-19.2-.1-28.3-2.6-37.7-10.6-66-38.8-76.4-76.3-2.5-9.1-2.8-11.5-2.8-27.5 0-19.8 1.1-25.8 7.6-41.8 7.6-18.7 10.1-21.6 70.3-81.8 30.3-30.4 58-57.3 61.6-59.8 3.5-2.5 10.5-6.6 15.5-9.1 44.7-22 99.234-9.053 131.034 29.347 17.969 18.676 22.454 25.115 25.735 20.006 7.135-6.25 15.244-3.847-3.754-22.26C317.32 212.64 287.1 186.5 277.5 181.8c-2.5-1.2-4.5-2.5-4.5-2.8 0-1.4 88-88.1 92-90.6 9.7-6 23.9-8.1 34.1-5z"/>
            </svg>
          </div>
          <div class="timeline-content">
            <p class="open-sans timeline-content-titre">Bas de page</p>
            <ul class="open-sans timeline-content-liste">
              <li class="timeline-content-link marqueur-circle">
                <a href="{{ path('plan_du_site', {}) }}">Plan du site.</a>
              </li>
              <li class="timeline-content-link marqueur-circle">
                <a href="{ path('accessibilite', {}) }}">Accessibilité</a>
              </li>
              <li class="timeline-content-link marqueur-circle">
                <a href="{ path('cgu', {}) }}">Mentions légales.</a>
              </li>
              <li class="timeline-content-link marqueur-circle">
                <a href="{ path('rgpd', {}) }}">Données personnelles.</a>
              </li>
              <li class="timeline-content-link marqueur-square">Gestion des couleurs.</li>
            </ul>
          </div>
        </div>

      {# Fin du bloc #}
      </div>
    </div>
    {# Chargement de la section footer #}
    {{ include('footer.html.twig') }}
    {# Chargement du code javascript #}
    {% block javascripts %}
      {{ encore_entry_script_tags('plan-du-site') }}
    {% endblock %}
  </body>
</html>
