{% set title = 'Analyse Owasp' %}
{% set description = 'Ma Moulinette - analyse OWASP.' %}
<!DOCTYPE html>
<html
	lang="fr">

	{# Chargement de la section HEAD #}
	<head>
		{{ include('head.html.twig') }}
		{% block stylesheets %}
			{{ encore_entry_link_tags('owasp') }}
		{% endblock %}
	</head>

	<body>
		{# Chargement de la section header #}
		{{ include('header.html.twig') }}
		<br/>

		<header class="grid-container">
			<nav aria-label="Ici : " role="navigation">
				<ul class="claire-hand breadcrumbs">
					<li>
						<a href="/">Accueil</a>
					</li>
					<li>
						<a href="/projet">Projet</a>
					</li>
					<li>
						<span class="show-for-sr">Current:</span>Owasp</li>
				</ul>
			</nav>
		</header>
		<div class="grid-container grid-x">
			<h2 class="claire-hand">Vulnérabilités OWASP et points chauds.</h2>

			<div id="js-serveur" class="cell" data-serveur="{{serveur}}">
				<h3 id="js-application" class="claire-hand"></h3>
			</div>

			<fieldset class="fieldset cell">
				<legend>Informations.</legend>
				<p class="open-sans">Le tableau ci-dessous liste
					<strong>uniquement</strong>
					les vulnérabiltés de type OWASP et les hotspots OWASP.</p>
				{# Vulnérabilité OWASP #}
				<p class="ligne open-sans">
					<strong>Vulnérabilité</strong>&nbsp;:
					<span id="nombre-faille-owasp" class="stat resultat"></span>
				</p>
				<p class="ligne open-sans" style="padding-left:2rem;">Bloquante&nbsp;:
					<span id="nombre-faille-bloquant" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans" style="padding-left:2rem;">Critique&nbsp;:
					<span id="nombre-faille-critique" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans" style="padding-left:2rem;">Majeure&nbsp;:
					<span id="nombre-faille-majeur" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans" style="padding-left:2rem;">Mineure&nbsp;:
					<span id="nombre-faille-mineur" class="stat-owasp resultat light"></span>
				</p>
				<br/>

				{# Vulnérabilité Hotspot #}
				<p class="ligne open-sans">
					<strong>Hotspot</strong>&nbsp;:
					<span id="hotspot-total" class="stat resultat"></span>
				</p>
				<p class="ligne open-sans" style="padding-left:2rem;">HIGH&nbsp;:
					<span id="nombre-hotspot-high" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans" style="padding-left:2rem;">MEDIUM&nbsp;:
					<span id="nombre-hotspot-medium" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans" style="padding-left:2rem;">LOW&nbsp;:
					<span id="nombre-hotspot-low" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans">Examiné&nbsp;:
					<span id="hotspot-reviewed" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans">A vérifier&nbsp;:
					<span id="hotspot-to-review" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans">Note&nbsp;:
					<span id="note-hotspot" class="stat-note resultat"></span>
				</p>
				<br/>

				{# Répartition par module #}
				<p class="ligne open-sans">
					<strong>Module</strong>&nbsp;:</p>
				<p class="ligne open-sans" style="padding-left:2rem;">Frontend&nbsp;:
					<span id="frontend" class="resultat"></span>
				</p>
				<p class="ligne open-sans" style="padding-left:2rem;">Backend&nbsp;:
					<span id="backend" class="resultat"></span>
				</p>
				<p class="ligne open-sans" style="padding-left:2rem;">Batch&nbsp;:
					<span id="batch" class="resultat"></span>
				</p>
			</fieldset>

			<fieldset class="fieldset cell">
				<legend>Synthèse.</legend>
				<table aria-describedby="Liste des vulnérabilité OWASP et des hotspot sonarqube.">
					<thead>
						<tr class="open-sans">
							<th scope="col"></th>
							<th scope="col" class="show-for-small-only">Cat.</th>
							<th scope="col" class="show-for-medium">Catégorie</th>
							<th scope="col" class="show-for-small-only text-center">Faille</th>
							<th scope="col" class="show-for-medium text-center">Vulnérabilité</th>
							<th scope="col" class="show-for-small-only text-center">Hotspot</th>
							<th scope="col" class="show-for-medium text-center">Hotspot Review</th>
						</tr>
					</thead>
					<tbody class="open-sans">
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a1" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A1</td>
							<td class="show-for-medium">A1 - Attaques d'injection</td>
							<td id="a1" class="text-center"></td>
							<td id="h1" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a2" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A2</td>
							<td class="show-for-medium">A2 - Authentification défaillante</td>
							<td id="a2" class="text-center"></td>
							<td id="h2" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a3" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A3</td>
							<td class="show-for-medium">A3 - Fuites de données sensibles</td>
							<td id="a3" class="text-center"></td>
							<td id="h3" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a4" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A4</td>
							<td class="show-for-medium">A4 - Entités externes XML (XXE)</td>
							<td id="a4" class="text-center"></td>
							<td id="h4" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a5" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A5</td>
							<td class="show-for-medium">A5 - Contrôle d'accès défaillant</td>
							<td id="a5" class="text-center"></td>
							<td id="h5" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a6" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A6</td>
							<td class="show-for-medium">A6 - Configurations défaillantes</td>
							<td id="a6" class="text-center"></td>
							<td id="h6" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a7" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A7</td>
							<td class="show-for-medium">A7 - Attaques cross-site scripting (XSS)</td>
							<td id="a7" class="text-center"></td>
							<td id="h7" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a8" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A8</td>
							<td class="show-for-medium">A8 - Désérialisation sans validation</td>
							<td id="a8" class="text-center"></td>
							<td id="h8" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a9" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A9</td>
							<td class="show-for-medium">A9 - Composants tiers vulnérables</td>
							<td id="a9" class="text-center"></td>
							<td id="h9" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-10" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A10</td>
							<td class="show-for-medium">A10 - Journalisation et surveillance insuffisantes</td>
							<td id="a10" class="text-center"></td>
							<td id="h10" class="text-right"></td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>

		{# Tableau détaillé des failles de sécurité #}
		<div class="grid-container grid-x">
			<h3 class="claire-hand">Liste des failles de sécurité.</h3>
			<div class="detail cell">
				<table class="table-scroll">
					<caption>Liste détaillée des vulnérabilités détéctées.</caption>
					<thead>
						<tr class="open-sans">
							<th class="text-center" scope="col">N°</th>
							<th class="text-center" id="regle" scope="col">Règle</th>
							<th class="text-center" id="severite" scope="col">Sévérité</th>
							<th class="text-center" id="dd" scope="col">Component</th>
							<th class="text-center" id="ligne" scope="col">Ligne</th>
							<th class="text-center" id="message" scope="col">Message</th>
							<th class="text-center" id="status" scope="col">Status</th>
						</tr>
					</thead>
					<tbody id="tbody"></tbody>
				</table>
			</div>
		</div>

		<br/>
		{# Référebtiel OWASP 2017 - Doc #}
		<div class="grid-container grid-x">
			<h2 class="claire-hand">Référentiel OWASP 2017.</h2>
			<div class="small-12 medium-12 large-12 cell">
				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li id="o1" class="referentiel-owasp-menu">
						<a class="claire-hand referentiel-owasp-titre" href="javascript:void(0);">A1 - Attaques d'injection.</a>
						<ul class="menu vertical" style="padding-left:1rem; padding-right:1rem;">
							<p class="open-sans text-justify">
								Les failles d'injection, telles que l'injection SQL, NoSQL, OS et LDAP, se produisent lorsque des données non
								                fiables sont envoyées à un interpréteur dans le cadre d'une commande ou d'une requête.</p>
							<p class="open-sans text-justify">
								Les données hostiles de l'attaquant peuvent inciter l'interpréteur à exécuter des commandes non souhaitées ou
								                à accéder à des données sans autorisation appropriée.
							</p>
						</ul>
					</li>
				</ul>

				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li id="o2" class="referentiel-owasp-menu">
						<a class="claire-hand referentiel-owasp-titre" href="javascript:void(0);">A2 - Authentification défaillante.</a>
						<ul class="menu vertical" style="padding-left:1rem; padding-right:1rem;">
							<p class="open-sans text-justify">
								Les fonctions d'application liées à l'authentification et à la gestion des sessions sont souvent mises en œuvre de manière
								                incorrecte, ce qui permet aux attaquants de compromettre les mots de passe, les clés ou les jetons de session, ou d'exploiter
								                d'autres défauts de mise en œuvre pour prendre l'identité d'autres utilisateurs de manière temporaire ou permanente.
							</p>
						</ul>
					</li>
				</ul>
				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li id="o3" class="referentiel-owasp-menu">
						<a class="claire-hand referentiel-owasp-titre" href="javascript:void(0);">A3 - Fuites de données sensibles.</a>
						<ul class="menu vertical" style="padding-left:1rem; padding-right:1rem;">
							<p class="open-sans text-justify">
								De nombreuses applications Web et API ne protègent pas correctement les données sensibles, telles que les données
								              financières, les données relatives à la santé et les informations nominatives. Les attaquants peuvent voler ou
								              modifier ces données faiblement protégées pour commettre des fraudes à la carte de crédit, des vols d'identité
								              ou d'autres délits.</p>
							<p class="open-sans text-justify">
								Les données sensibles peuvent être compromises sans protection supplémentaire, comme le cryptage au repos ou
								                en transit, et nécessitent des précautions particulières lorsqu'elles sont échangées avec le navigateur.
							</p>
						</ul>
					</li>
				</ul>
				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li id="o4" class="referentiel-owasp-menu">
						<a class="claire-hand referentiel-owasp-titre" href="javascript:void(0);">A4 - Entités externes XML (XXE).</a>
						<ul class="menu vertical" style="padding-left:1rem; padding-right:1rem;">
							<p class="open-sans text-justify">
								De nombreux processeurs XML anciens ou mal configurés évaluent les références à des entités externes dans les documents XML.
								              Les entités externes peuvent être utilisées pour divulguer des fichiers internes à l'aide du gestionnaire URI de fichiers,
								              des partages de fichiers internes, l'analyse de ports internes, l'exécution de code à distance et des attaques par déni
								              de service.
							</p>
						</ul>
					</li>
				</ul>
				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li id="o5" class="referentiel-owasp-menu">
						<a class="claire-hand referentiel-owasp-titre" href="javascript:void(0);">A5 - Contrôle d'accès défaillant.</a>
						<ul class="menu vertical" style="padding-left:1rem; padding-right:1rem;">
							<p class="open-sans text-justify">
								Les restrictions sur ce que les utilisateurs authentifiés sont autorisés à faire ne sont souvent pas correctement
								              appliquées. Les attaquants peuvent exploiter ces failles pour accéder à des fonctionnalités et/ou des données non
								              autorisées, comme l'accès aux comptes d'autres utilisateurs, la visualisation de fichiers sensibles, la modification
								              des données d'autres utilisateurs, la modification des droits d'accès, etc.
							</p>
						</ul>
					</li>
				</ul>
				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li id="o6" class="referentiel-owasp-menu">
						<a class="claire-hand referentiel-owasp-titre" href="javascript:void(0);">A6 - Configurations défaillantes.</a>
						<ul class="menu vertical" style="padding-left:1rem; padding-right:1rem;">
							<p class="open-sans text-justify">
								La mauvaise configuration de la sécurité est le problème le plus fréquemment rencontré. Elle résulte généralement
								              de configurations par défaut non sécurisées, de configurations incomplètes ou ad hoc, d'un stockage en nuage ouvert,
								              d'en-têtes HTTP mal configurés et de messages d'erreur verbeux contenant des informations sensibles.
							</p>
							<p class="open-sans text-justify">
								Non seulement tous les systèmes d'exploitation, les frameworks, les bibliothèques et les applications doivent être
								              configurés de manière sécurisée, mais ils doivent également faire l'objet de correctifs ou de mises à jour en temps
								              utile.
							</p>
						</ul>
					</li>
				</ul>
				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li id="o7" class="referentiel-owasp-menu">
						<a class="claire-hand referentiel-owasp-titre" href="javascript:void(0);">A7 - Attaques cross-site scripting (XSS).</a>
						<ul class="menu vertical" style="padding-left:1rem; padding-right:1rem;">
							<p class="open-sans text-justify">
								Les failles XSS se produisent chaque fois qu'une application inclut des données non fiables dans une nouvelle
								            page Web sans validation ni échappement appropriés, ou met à jour une page Web existante avec des données fournies
								            par l'utilisateur en utilisant une API de navigateur capable de créer du HTML ou du JavaScript.
							</p>
							<p class="open-sans text-justify">
								Le XSS permet aux attaquants d'exécuter des scripts dans le navigateur de la victime, ce qui peut détourner les
								            sessions de l'utilisateur, défigurer les sites Web ou rediriger l'utilisateur vers des sites malveillants.
							</p>
						</ul>
					</li>
				</ul>
				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li id="o8" class="referentiel-owasp-menu">
						<a class="claire-hand referentiel-owasp-titre" href="javascript:void(0);">A8 - Désérialisation sans validation.</a>
						<ul class="menu vertical" style="padding-left:1rem; padding-right:1rem;">
							<p class="open-sans text-justify">
								Une désérialisation non sécurisée conduit souvent à l'exécution de code à distance. Même si les défauts de désérialisation
								            n'entraînent pas l'exécution de code à distance, ils peuvent être utilisés pour réaliser des attaques, notamment
								            des attaques par rejeu, des attaques par injection et des attaques par élévation de privilèges.
							</p>
						</ul>
					</li>
				</ul>
				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li id="o9" class="referentiel-owasp-menu">
						<a class="claire-hand referentiel-owasp-titre" href="javascript:void(0);">A9 - Composants tiers vulnérables.</a>
						<ul class="menu vertical" style="padding-left:1rem; padding-right:1rem;">
							<p class="open-sans text-justify">
								Les composants, tels que les bibliothèques, les frameworks et autres modules logiciels, s'exécutent avec les mêmes privilèges
								              que l'application. Si un composant vulnérable est exploité, une telle attaque peut faciliter de graves pertes de données ou
								              la prise de contrôle du serveur.
							</p>
							<p class="open-sans text-justify">
								Les applications et les API utilisant des composants présentant des vulnérabilités connues peuvent miner les défenses
								              des applications et permettre diverses attaques et incidences.
							</p>
						</ul>
					</li>
				</ul>
				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li id="o10" class="referentiel-owasp-menu">
						<a class="claire-hand referentiel-owasp-titre" href="javascript:void(0);">A10 - Journalisation et surveillance insuffisantes.</a>
						<ul class="menu vertical" style="padding-left:1rem; padding-right:1rem;">
							<p class="open-sans text-justify">
								L'insuffisance de la journalisation et de la surveillance, associée à l'absence ou à l'inefficacité de l'intégration avec
								              la réponse aux incidents, permet aux attaquants d'attaquer davantage les systèmes, de maintenir la persistance, de pivoter
								              vers d'autres systèmes et d'altérer, d'extraire ou de détruire des données.
							</p>
							<p class="open-sans text-justify">
								La plupart des études sur les brèches montrent que le délai de détection d'une brèche est supérieur à 200 jours,
								              généralement détectée par des parties externes plutôt que par des processus ou une surveillance internes.
							</p>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<br/><br/>

		<div class="reveal" id="details" data-reveal data-close-on-click="true" data-animation-in="fade-in">
			<h3>Owasp et Points chauds.</h3>
			<p class="lead details-titre"></p>
			<ul class="stats-list">
				<li>
					<span class="stats-list-label stats-detail-rouge">Élevée</span>
					<span id="detail-haut" class="stats-list-rouge">0</span>
				</li>
				<li>
					<span class="stats-list-label stats-detail-orange">Moyenne</span>
					<span id="detail-moyen" class="stats-list-rouge">0</span>
				</li>
				<li>
					<span class="stats-list-label stats-detail-jaune">Faible</span>
					<span id="detail-faible" class="stats-list-orange">0</span>
				</li>
			</ul>
			<button class="close-button" data-close aria-label="Close modal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<br/><br/>
		{# Chargement de la section footer #}
		{{ include('footer.html.twig') }}
		{# Chargement du code javascript #}
		{% block javascripts %}
			{{ encore_entry_script_tags('owasp') }}
		{% endblock %}
	</body>
</html>
