{% set title = 'Analyse Owasp' %}
{% set description = 'Ma Moulinette - analyse OWASP.' %}
<!DOCTYPE html>
<!--
.. __  __             __  __             _ _            _   _
  |  \/  | __ _      |  \/  | ___  _   _| (_)_ __   ___| |_| |_ ___
  | |\/| |/ _` |_____| |\/| |/ _ \| | | | | | '_ \ / _ \ __| __/ _ \
  | |  | | (_| |_____| |  | | (_) | |_| | | | | | |  __/ |_| ||  __/
  |_|  |_|\__,_|     |_|  |_|\___/ \__,_|_|_|_| |_|\___|\__|\__\___|

  Laurent HADJADJ
  https://github.com/Laurent-hadjadj/ma-moulinette
  © 2024 - CC BY-SA-NC 4.0
-->
<html
	lang="fr">
	{# Chargement de la section HEAD #}
	<head>
		<title>{{ title }}</title>
		{{ include('head.html.twig') }}
		{% block stylesheets %}
			{{ encore_entry_link_tags('owasp') }}
		{% endblock %}
	</head>

	<body>
		{# Chargement de la section header #}
		{{ include('header.html.twig') }}
		<br>

		<header class="grid-container">
			<nav aria-label="Vous êtes Ici : ">
				<ul class="claire-hand breadcrumbs">
					<li>
						<a href="/">Accueil</a>
					</li>
					<li>
						<a href="/projet">Projet</a>
					</li>
					<li>
						<span class="show-for-sr">Vous êtes ici:</span>Owasp
					</li>
				</ul>
			</nav>
		</header>

		<div class="grid-container grid-x">
			<h1 class="h2 claire-hand">Vulnérabilités OWASP et points chauds.</h1>

			<div
				id="js-serveur" class="cell" data-serveur="{{serveur}}">
				{# On ajoute un caractère pour éviter une erreur W3C #}
				<h2 id="js-application" class="h3 claire-hand">&nbsp;</h2>
				<p id="js-application-version" class="h4 open-sans">&nbsp;</p>
				<br>
				<div id="message"></div>
			</div>

			<fieldset class="fieldset cell">
				<legend>Informations.</legend>
				<p class="open-sans">Le tableau ci-dessous liste
					<strong>uniquement</strong>
					les vulnérabiltés de type OWASP et les hotspots OWASP.
				</p>
				{# Vulnérabilité OWASP #}
				<p class="ligne open-sans">
					<strong>Vulnérabilité</strong>&nbsp;:
					<span id="nombre-faille-owasp" class="stat resultat"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">Bloquante&nbsp;:
					<span id="nombre-faille-bloquant" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">Critique&nbsp;:
					<span id="nombre-faille-critique" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">Majeure&nbsp;:
					<span id="nombre-faille-majeur" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">Mineure&nbsp;:
					<span id="nombre-faille-mineur" class="stat-owasp resultat light"></span>
				</p>
				<br>

				{# Vulnérabilité Hotspot #}
				<p class="ligne open-sans">
					<strong>Hotspot</strong>&nbsp;:
					<span id="hotspot-total" class="stat resultat"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">HIGH&nbsp;:
					<span id="nombre-hotspot-high" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">MEDIUM&nbsp;:
					<span id="nombre-hotspot-medium" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">LOW&nbsp;:
					<span id="nombre-hotspot-low" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans">Examiné&nbsp;:
					<span id="hotspot-reviewed" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans">A vérifier&nbsp;:
					<span id="hotspot-to-review" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans">Note&nbsp;:
					<span id="note-hotspot" class="stat-note resultat"></span>
				</p>
				<br>

				{# Répartition par module #}
				<p class="ligne open-sans">
					<strong>Module</strong>&nbsp;:</p>
				<p class="ligne open-sans owasp-padding-left">Frontend&nbsp;:
					<span id="frontend" class="resultat"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">Backend&nbsp;:
					<span id="backend" class="resultat"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">Autres&nbsp;:
					<span id="autre" class="resultat"></span>
				</p>
			</fieldset>

			<fieldset class="fieldset cell">
				<legend>Synthèse.</legend>
				<table>
					<caption>Liste des vulnérabilité OWASP et des hotspot sonarqube.</caption>
					<thead>
						<tr class="open-sans">
							<th scope="col"></th>
							<th scope="col" class="show-for-small-only">Cat.</th>
							<th scope="col" class="show-for-medium">Catégorie</th>
							<th scope="col" class="show-for-small-only text-center">Faille</th>
							<th scope="col" class="show-for-medium text-center">Vulnérabilité</th>
							<th scope="col" class="show-for-small-only text-center">Hotspot</th>
							<th scope="col" class="show-for-medium text-center">Hotspot Review</th>
						</tr>
					</thead>
					<tbody class="open-sans">
						<tr>
							{# details #}
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a1" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							{# Catégorie #}
							<td class="show-for-small-only">A1</td>
							<td class="show-for-medium">A1 - Attaques d'injection</td>
							{# Faille #}
							<td id="a1" class="text-center"></td>
							{# Hotspot #}
							<td id="h1" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a2" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A2</td>
							<td class="show-for-medium">A2 - Authentification défaillante</td>
							<td id="a2" class="text-center"></td>
							<td id="h2" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a3" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A3</td>
							<td class="show-for-medium">A3 - Fuites de données sensibles</td>
							<td id="a3" class="text-center"></td>
							<td id="h3" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a4" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A4</td>
							<td class="show-for-medium">A4 - Entités externes XML (XXE)</td>
							<td id="a4" class="text-center"></td>
							<td id="h4" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a5" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A5</td>
							<td class="show-for-medium">A5 - Contrôle d'accès défaillant</td>
							<td id="a5" class="text-center"></td>
							<td id="h5" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a6" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A6</td>
							<td class="show-for-medium">A6 - Configurations défaillantes</td>
							<td id="a6" class="text-center"></td>
							<td id="h6" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a7" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A7</td>
							<td class="show-for-medium">A7 - Attaques cross-site scripting (XSS)</td>
							<td id="a7" class="text-center"></td>
							<td id="h7" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a8" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A8</td>
							<td class="show-for-medium">A8 - Désérialisation sans validation</td>
							<td id="a8" class="text-center"></td>
							<td id="h8" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a9" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A9</td>
							<td class="show-for-medium">A9 - Composants tiers vulnérables</td>
							<td id="a9" class="text-center"></td>
							<td id="h9" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-10" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A10</td>
							<td class="show-for-medium">A10 - Journalisation et surveillance insuffisantes</td>
							<td id="a10" class="text-center"></td>
							<td id="h10" class="text-right"></td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>

		{# Tableau détaillé des failles de sécurité #}
		<div class="grid-container grid-x">
			<h3 class="claire-hand">Liste des failles de sécurité.</h3>
			<div class="detail cell">
				<table class="table-scroll">
					<caption>Liste détaillée des vulnérabilités détéctées.</caption>
					<thead>
						<tr class="open-sans">
							<th class="text-center" scope="col">N°</th>
							<th class="text-center" id="regle" scope="col">Règle</th>
							<th class="text-center" id="severite" scope="col">Sévérité</th>
							<th class="text-center" id="component" scope="col">Component</th>
							<th class="text-center" id="ligne" scope="col">Ligne</th>
							<th class="text-center" id="message-details" scope="col">Message</th>
							<th class="text-center" id="status" scope="col">Status</th>
						</tr>
					</thead>
					<tbody id="tbody"></tbody>
				</table>
			</div>
		</div>

		<br>
		{# Référentiel OWASP 2017 et 2021 - Doc #}
		<div class="grid-container grid-x">
			<h1 class="h2 claire-hand">Référentiel OWASP</h1>
			<div class="small-12 medium-12 large-12 cell">
				<label for="owasp-select">Choisissez le référentiel OWASP :</label>
				<select id="owasp-select">
					<option value="2017">OWASP 2017</option>
					<option value="2021">OWASP 2021</option>
				</select>
				<br><br>

				<!-- Bouton pour comparer les référentiels -->
				<button class="button" data-open="compare-owasp-modal">Comparer les deux référentiels</button>
				<br><br>

				<!-- OWASP 2017 -->
				<div id="owasp-2017" class="owasp-content" style="display:none;">
					<ul class="vertical menu accordion-menu" data-accordion-menu>
						{% for item in owasp2017 %}
							<li id="o{{ loop.index }}" class="referentiel-owasp-menu">
								<a class="claire-hand referentiel-owasp-titre">{{ item.category }}</a>
								<ul class="menu vertical owasp-padding-left-right">
									<li>
										<p class="open-sans text-justify">{{ item.description }}</p>
										<button class="button" onclick="window.location.href='/details/{{ item.id }}'">Plus de détails</button>
									</li>
								</ul>
							</li>
						{% endfor %}
					</ul>
				</div>

				<!-- OWASP 2021 -->
				<div id="owasp-2021" class="owasp-content" style="display:none;">
					<ul class="vertical menu accordion-menu" data-accordion-menu>
						{% for item in owasp2021 %}
							<li id="o{{ loop.index }}" class="referentiel-owasp-menu">
								<a class="claire-hand referentiel-owasp-titre">{{ item.category }}</a>
								<ul class="menu vertical owasp-padding-left-right">
									<li>
										<p class="open-sans text-justify">{{ item.description }}</p>
										<button class="button" onclick="window.location.href='/details/{{ item.id }}'">Plus de détails</button>
									</li>
								</ul>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<!-- Conteneur pour le diagramme circulaire -->
				<div id="owasp-pie-chart-container" style="display:none;">
            <canvas id="owasp-pie-chart"></canvas>
        </div>
		</div>
		<br><br>

		<div class="reveal" id="details" data-reveal data-close-on-click="true" data-animation-in="fade-in">
			<h2 class="h3 open-sans">Owasp et Points chauds.</h2>
			<p class="lead details-titre"></p>
			<ul class="stat-list">
				<li>
					<span class="stat-list-label note-e stat-detail">Élevée</span>
					<span id="detail-haut" class="stat stat-list-bleu">0</span>
				</li>
				<li>
					<span class="stat-list-label note-d stat-detail">Moyenne</span>
					<span id="detail-moyen" class="stat stat-list-bleu">0</span>
				</li>
				<li>
					<span class="stat-list-label note-c stat-detail">Faible</span>
					<span id="detail-faible" class="stat stat-list-bleu">0</span>
				</li>
			</ul>
			<button class="close-button" data-close aria-label="Close modal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<!-- Modal de comparaison -->
		<div class="reveal large" id="compare-owasp-modal" data-reveal>
			<div class="modal-header">
				<h2>OWASP 2017 VS OWASP 2021</h2>
			</div>
			<div class="modal-content grid-x grid-margin-x">
				<div class="cell small-12 medium-6 modal-column">
					<h3>OWASP 2017</h3>
					<ul class="vertical menu accordion-menu owasp-2017" data-accordion-menu>
						{% for item in owasp2017 %}
							<li id="o{{ loop.index }}">
								<a class="claire-hand referentiel-owasp-titre">{{ item.category }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="cell small-12 medium-6 modal-column">
					<h3>OWASP 2021</h3>
					<ul class="vertical menu accordion-menu" data-accordion-menu>
						{% for item in owasp2021 %}
							<li id="o{{ loop.index }}" class="owasp-item owasp2021-item-{{ loop.index }}">
								<a class="claire-hand referentiel-owasp-titre">{{ item.category }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="modal-legend">
				<h4>Code couleur :</h4>
				<ul class="color-legend">
					<li>
						<span class="color-box" style="background-color: #008000;"></span>
						Améliorations (montée dans le classement)</li>
					<li>
						<span class="color-box" style="background-color: #FF0000;"></span>
						Dégradations (descente dans le classement)</li>
					<li>
						<span class="color-box" style="background-color: #FFFF00;"></span>
						Positions stables</li>
					<li>
						<span class="color-box" style="background-color: #808080;"></span>
						Nouveaux éléments en 2021</li>
				</ul>
			</div>
			<button class="close-button" data-close aria-label="Close modal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<br><br>
		{{ include('footer.html.twig') }}
		{% block javascripts %}
			{{ encore_entry_script_tags('owasp') }}
		{% endblock %}
	</body>
</html>
