{% set title = 'Analyse Owasp' %}
{% set description = 'Ma Moulinette - analyse OWASP.' %}
<!DOCTYPE html>
<!--
.. __  __             __  __             _ _            _   _
  |  \/  | __ _      |  \/  | ___  _   _| (_)_ __   ___| |_| |_ ___
  | |\/| |/ _` |_____| |\/| |/ _ \| | | | | | '_ \ / _ \ __| __/ _ \
  | |  | | (_| |_____| |  | | (_) | |_| | | | | | |  __/ |_| ||  __/
  |_|  |_|\__,_|     |_|  |_|\___/ \__,_|_|_|_| |_|\___|\__|\__\___|

  Laurent HADJADJ
  https://github.com/Laurent-hadjadj/ma-moulinette
  © 2024 - CC BY-SA-NC 4.0
-->
<html
	lang="fr">
	{# Chargement de la section HEAD #}
	<head>
		<title>{{ title }}</title>
		{{ include('head.html.twig') }}
		{% block stylesheets %}
			{{ encore_entry_link_tags('owasp') }}
		{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	</head>

	<body>
		{# Chargement de la section header #}
		{{ include('header.html.twig') }}
		<br>

		<header class="grid-container">
			<nav aria-label="Vous êtes Ici : ">
				<ul class="claire-hand breadcrumbs">
					<li>
						<a href="/">Accueil</a>
					</li>
					<li>
						<a href="/projet">Projet</a>
					</li>
					<li>
						<span class="show-for-sr">Vous êtes ici:</span>Owasp</li>
				</ul>
			</nav>
		</header>

		<div class="grid-container grid-x">
			<h1 class="h2 claire-hand">Vulnérabilités OWASP et points chauds.</h1>

			<div
				id="js-serveur" class="cell" data-serveur="{{serveur}}">
				{# On ajoute un caractère pour éviter une erreur W3C #}
				<h2 id="js-application" class="h3 claire-hand">&nbsp;</h2>
				<p id="js-application-version" class="h4 open-sans">&nbsp;</p>
				<br>
				<div id="message"></div>
			</div>

			<fieldset class="fieldset cell">
				<legend>Informations.</legend>
				<p class="open-sans">Le tableau ci-dessous liste
					<strong>uniquement</strong>
					les vulnérabiltés de type OWASP et les hotspots OWASP.
				</p>
				{# Vulnérabilité OWASP #}
				<p class="ligne open-sans">
					<strong>Vulnérabilité</strong>&nbsp;:
					<span id="nombre-faille-owasp" class="stat resultat"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">Bloquante&nbsp;:
					<span id="nombre-faille-bloquant" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">Critique&nbsp;:
					<span id="nombre-faille-critique" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">Majeure&nbsp;:
					<span id="nombre-faille-majeur" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">Mineure&nbsp;:
					<span id="nombre-faille-mineur" class="stat-owasp resultat light"></span>
				</p>
				<br>

				{# Vulnérabilité Hotspot #}
				<p class="ligne open-sans">
					<strong>Hotspot</strong>&nbsp;:
					<span id="hotspot-total" class="stat resultat"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">HIGH&nbsp;:
					<span id="nombre-hotspot-high" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">MEDIUM&nbsp;:
					<span id="nombre-hotspot-medium" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">LOW&nbsp;:
					<span id="nombre-hotspot-low" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans">Examiné&nbsp;:
					<span id="hotspot-reviewed" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans">A vérifier&nbsp;:
					<span id="hotspot-to-review" class="stat-owasp resultat light"></span>
				</p>
				<p class="ligne open-sans">Note&nbsp;:
					<span id="note-hotspot" class="stat-note resultat"></span>
				</p>
				<br>

				{# Répartition par module #}
				<p class="ligne open-sans">
					<strong>Module</strong>&nbsp;:</p>
				<p class="ligne open-sans owasp-padding-left">Frontend&nbsp;:
					<span id="frontend" class="resultat"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">Backend&nbsp;:
					<span id="backend" class="resultat"></span>
				</p>
				<p class="ligne open-sans owasp-padding-left">Autres&nbsp;:
					<span id="autre" class="resultat"></span>
				</p>
			</fieldset>

			<fieldset class="fieldset cell">
				<legend>Synthèse.</legend>
				<table>
					<caption>Liste des vulnérabilité OWASP et des hotspot sonarqube.</caption>
					<thead>
						<tr class="open-sans">
							<th scope="col"></th>
							<th scope="col" class="show-for-small-only">Cat.</th>
							<th scope="col" class="show-for-medium">Catégorie</th>
							<th scope="col" class="show-for-small-only text-center">Faille</th>
							<th scope="col" class="show-for-medium text-center">Vulnérabilité</th>
							<th scope="col" class="show-for-small-only text-center">Hotspot</th>
							<th scope="col" class="show-for-medium text-center">Hotspot Review</th>
						</tr>
					</thead>
					<tbody class="open-sans">
						<tr>
							{# details #}
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a1" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							{# Catégorie #}
							<td class="show-for-small-only">A1</td>
							<td class="show-for-medium">A1 - Attaques d'injection</td>
							{# Faille #}
							<td id="a1" class="text-center"></td>
							{# Hotspot #}
							<td id="h1" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a2" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A2</td>
							<td class="show-for-medium">A2 - Authentification défaillante</td>
							<td id="a2" class="text-center"></td>
							<td id="h2" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a3" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A3</td>
							<td class="show-for-medium">A3 - Fuites de données sensibles</td>
							<td id="a3" class="text-center"></td>
							<td id="h3" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a4" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A4</td>
							<td class="show-for-medium">A4 - Entités externes XML (XXE)</td>
							<td id="a4" class="text-center"></td>
							<td id="h4" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a5" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A5</td>
							<td class="show-for-medium">A5 - Contrôle d'accès défaillant</td>
							<td id="a5" class="text-center"></td>
							<td id="h5" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a6" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A6</td>
							<td class="show-for-medium">A6 - Configurations défaillantes</td>
							<td id="a6" class="text-center"></td>
							<td id="h6" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a7" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A7</td>
							<td class="show-for-medium">A7 - Attaques cross-site scripting (XSS)</td>
							<td id="a7" class="text-center"></td>
							<td id="h7" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a8" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A8</td>
							<td class="show-for-medium">A8 - Désérialisation sans validation</td>
							<td id="a8" class="text-center"></td>
							<td id="h8" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-a9" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A9</td>
							<td class="show-for-medium">A9 - Composants tiers vulnérables</td>
							<td id="a9" class="text-center"></td>
							<td id="h9" class="text-right"></td>
						</tr>
						<tr>
							<td>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" id="js-10" class="js-details voir-details-svg">
									<path d="M237 82.6c-29.6 3.6-52.3 9.7-76.5 20.6-55.5 24.9-112.4 75.6-153 136.3-9.9 14.8-9.9 18.2 0 33 15 22.4 30 40.8 49.5 60.9 52.6 54 106.2 84.4 166.5 94.3 15.4 2.5 49.6 2.5 65 0 60.3-9.9 113.9-40.3 166.5-94.3 19.5-20.1 34.5-38.5 49.5-60.9 9.9-14.8 9.9-18.2 0-33-15-22.4-30-40.8-49.5-60.9-51.8-53.2-105-83.7-163.5-93.7-11.6-2-45.3-3.4-54.5-2.3zm36.8 34.5c40.9 4.4 80.6 21.9 121.2 53.3 21.3 16.4 59.2 56.7 75.6 80.3l3.7 5.3-3.9 5.6c-6.5 9.5-23.7 30.4-34.3 41.8-50.4 54.1-106.3 85.7-162.2 91.6-51.2 5.4-104.3-12.7-156.9-53.4-21.3-16.4-59.2-56.7-75.6-80.3l-3.7-5.3 3.9-5.6c6.6-9.6 23.6-30.4 34.3-41.8 30.6-32.8 63-57.4 96.1-72.6 35.1-16.2 68.9-22.5 101.8-18.9z"/>
									<path d="M235.5 142.7c-46.8 8.4-84.7 46.8-92.9 93.8-10.8 62 31.7 122.1 93.9 132.9C306.2 381.6 371 326.9 371 256c0-55.7-40.6-103.9-95.5-113.4-11-1.9-29.2-1.9-40 .1zm33.5 33.4c28.7 4.6 53.7 25.7 63.4 53.5 10.3 29.4 3 60.9-19.4 83.4-32 32.1-82 32.1-114 0-32.1-32.3-32.1-81.9 0-114 18.8-18.8 44.1-27.1 70-22.9z"/>
									<path d="M245 213.5c-14.9 3.7-27.6 16.3-31.5 31.5-7.9 30.6 18.6 59.5 49.7 54.2 30-5.2 45.9-38.2 31.2-64.6-9.6-17.2-29.9-25.8-49.4-21.1z"/>
								</svg>
							</td>
							<td class="show-for-small-only">A10</td>
							<td class="show-for-medium">A10 - Journalisation et surveillance insuffisantes</td>
							<td id="a10" class="text-center"></td>
							<td id="h10" class="text-right"></td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>

		{# Tableau détaillé des failles de sécurité #}
		<div class="grid-container grid-x">
			<h3 class="claire-hand">Liste des failles de sécurité.</h3>
			<div class="detail cell">
				<table class="table-scroll">
					<caption>Liste détaillée des vulnérabilités détéctées.</caption>
					<thead>
						<tr class="open-sans">
							<th class="text-center" scope="col">N°</th>
							<th class="text-center" id="regle" scope="col">Règle</th>
							<th class="text-center" id="severite" scope="col">Sévérité</th>
							<th class="text-center" id="component" scope="col">Component</th>
							<th class="text-center" id="ligne" scope="col">Ligne</th>
							<th class="text-center" id="message-details" scope="col">Message</th>
							<th class="text-center" id="status" scope="col">Status</th>
						</tr>
					</thead>
					<tbody id="tbody"></tbody>
				</table>
			</div>
		</div>

		<br>
		{# Référentiel OWASP 2017 et 2021 - Doc #}
		<div class="grid-container grid-x">
			<h1 class="h2 claire-hand">Référentiel OWASP</h1>
			<div class="small-12 medium-12 large-12 cell">
				<label for="owasp-select">Choisissez le référentiel OWASP :</label>
				<select id="owasp-select">
					<option value="2017">OWASP 2017</option>
					<option value="2021">OWASP 2021</option>
				</select>
				<button id="compare-button" class="button">Comparer les deux référentiels</button>
				<br><br>

				<!-- OWASP 2017 -->
				<div id="owasp-2017" class="owasp-content" style="display:none;">
					<ul class="vertical menu accordion-menu" data-accordion-menu>
						{% for item in owasp2017 %}
							<li id="o{{ loop.index }}" class="referentiel-owasp-menu">
								<a class="claire-hand referentiel-owasp-titre">{{ item.category }}</a>
								<ul class="menu vertical owasp-padding-left-right">
									<li>
										<p class="open-sans text-justify">{{ item.description }}
											<button class="button small owasp-button" data-id="owasp2017-{{ loop.index }}">Plus de détails</button>
										</p>
									</li>
								</ul>
							</li>
						{% endfor %}
					</ul>
				</div>

				<!-- OWASP 2021 -->
				<div id="owasp-2021" class="owasp-content" style="display:none;">
					<ul class="vertical menu accordion-menu" data-accordion-menu>
						{% for item in owasp2021 %}
							<li id="o{{ loop.index }}" class="referentiel-owasp-menu">
								<a class="claire-hand referentiel-owasp-titre">{{ item.category }}</a>
								<ul class="menu vertical owasp-padding-left-right">
									<li>
										<p class="open-sans text-justify">{{ item.description }}
											<button class="button small owasp-button" data-id="owasp2021-{{ loop.index }}">Plus de détails</button>
										</p>
									</li>
								</ul>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<br><br>

		<div class="reveal" id="details" data-reveal data-close-on-click="true" data-animation-in="fade-in">
			<h2 class="h3 open-sans">Owasp et Points chauds.</h2>
			<p class="lead details-titre"></p>
			<ul class="stat-list">
				<li>
					<span class="stat-list-label note-e stat-detail">Élevée</span>
					<span id="detail-haut" class="stat stat-list-bleu">0</span>
				</li>
				<li>
					<span class="stat-list-label note-d stat-detail">Moyenne</span>
					<span id="detail-moyen" class="stat stat-list-bleu">0</span>
				</li>
				<li>
					<span class="stat-list-label note-c stat-detail">Faible</span>
					<span id="detail-faible" class="stat stat-list-bleu">0</span>
				</li>
			</ul>
			<button class="close-button" data-close aria-label="Close modal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<br><br>
    <div id="chart-container" style="width: 100%; height: 600px; display: none;">
    <canvas id="owaspChart"></canvas>
		{{ include('footer.html.twig') }}
		{% block javascripts %}
			{{ encore_entry_script_tags('owasp') }}
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
			<script>
				document.getElementById( 'owasp-select' ).addEventListener( 'change', function ()
{
const selectedValue = this.value;
const owasp2017 = document.getElementById( 'owasp-2017' );
const owasp2021 = document.getElementById( 'owasp-2021' );
const chartContainer = document.getElementById('chart-container');

if ( selectedValue === '2017' )
{
owasp2017.style.display = 'block';
owasp2021.style.display = 'none';
chartContainer.style.display = 'none';
}
else if ( selectedValue === '2021' )
{
owasp2017.style.display = 'none';
owasp2021.style.display = 'block';
chartContainer.style.display = 'block';
renderOwaspChart();
}
} );
function renderOwaspChart() {
            const ctx = document.getElementById('owaspChart').getContext('2d');
            new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [
                        'Contrôles d\'accès défaillants',
                        'Défaillances cryptographiques',
                        'Injection',
                        'Conception non sécurisée',
                        'Mauvaise configuration de sécurité',
                        'Composants vulnérables et obsolètes',
                        'Identification et authentification de mauvaise qualité',
                        'Manque d\'intégrité des données et du logiciel',
                        'Carence des systèmes de contrôle et de journalisation',
                        'Falsification de requête côté serveur (SSRF)'
                    ],
                    datasets: [{
                        label: 'OWASP Top 10 - 2021',
                        data: [20, 15, 10, 15, 10, 5, 5, 10, 5, 5],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(99, 255, 132, 0.2)',
                            'rgba(162, 54, 235, 0.2)',
                            'rgba(206, 255, 86, 0.2)',
                            'rgba(192, 75, 192, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(99, 255, 132, 1)',
                            'rgba(162, 54, 235, 1)',
                            'rgba(206, 255, 86, 1)',
                            'rgba(192, 75, 192, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'OWASP Top 10 - 2021'
                        }
                    }
                }
            });
        }

document.getElementById( 'compare-button' ).addEventListener( 'click', function ()
{
const owasp2017 = document.getElementById( 'owasp-2017' );
const owasp2021 = document.getElementById( 'owasp-2021' );
owasp2017.style.display = 'block';
owasp2021.style.display = 'block';

const compareWindow = window.open( '', '_blank', 'width=1200,height=800' );
compareWindow.document.write( `
                    <html lang="fr">
                    <head>
                        <meta charset="UTF-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <title>Comparaison des Référentiels OWASP</title>
                        <link rel="stylesheet" href="path_to_your_css_file.css">
                        <style>
                            .owasp-comparison-container {
                                display: flex;
                                justify-content: space-between;
                                padding: 20px;
                            }
                            .owasp-content {
                                width: 48%;
                            }
                        </style>
                    </head>
                    <body>
                        <div class="owasp-comparison-container">
                            <div id="owasp-2017" class="owasp-content">
                                <h2>OWASP 2017</h2>
                                ${
document.getElementById( 'owasp-2017' ).innerHTML
}
                            </div>
                            <div id="owasp-2021" class="owasp-content">
                                <h2>OWASP 2021</h2>
                                ${
document.getElementById( 'owasp-2021' ).innerHTML
}
                            </div>
                        </div>
                    </body>
                    </html>
                ` );
compareWindow.document.close();
} );
const customMessages = {
        'owasp2017-1': `
            <h2>Aperçu</h2>
            <p>Précédemment à la cinquième place, 94 % des applications ont été testées pour une forme de contrôle d'accès défaillant avec un taux d'incidence moyen de 3,81 %. Cette catégorie a le plus d'occurrences dans l'ensemble de données contribué avec plus de 318 000. Les Common Weakness Enumerations (CWE) notables incluses sont CWE-200: Exposure of Sensitive Information to an Unauthorized Actor, CWE-201: Insertion of Sensitive Information Into Sent Data et CWE-352: Cross-Site Request Forgery.</p>
            <h2>Description</h2>
            <p>Le contrôle d'accès applique une stratégie telle que les utilisateurs ne peuvent pas agir en dehors de leurs autorisations prévues. Les défaillances entraînent généralement la divulgation, la modification ou la destruction d'informations non autorisées de toutes les données ou l'exécution d'une fonctionnalité métier en dehors des limites de l'utilisateur. Les vulnérabilités courantes du contrôle d'accès incluent :</p>
            <ul>
                <li>Violation du principe du moindre privilège ou de refus par défaut, où l'accès ne doit être accordé que pour des capacités, des rôles ou des utilisateurs particuliers, mais est accessible à tous.</li>
                <li>Contourner les contrôles d'accès en modifiant l'URL (falsification de paramètres ou navigation forcée), l'état interne de l'application ou la page HTML, ou en utilisant un outil d'attaque modifiant les requêtes API.</li>
                <li>Autoriser l'affichage ou la modification du compte de quelqu'un d'autre, en fournissant son identifiant unique (références directes d'objet non sécurisées).</li>
                <li>Accès à l'API avec des contrôles d'accès manquants pour POST, PUT et DELETE.</li>
                <li>Élévation de privilège. Agir en tant qu'utilisateur sans être connecté ou agir en tant qu'administrateur lorsqu'il est connecté en tant qu'utilisateur.</li>
                <li>Manipulation de métadonnées, comme le rejeu ou la falsification de JSON Web Token (JWT), de cookies ou de champs cachés, afin d'élever les privilèges ou abuser de l'invalidation JWT.</li>
                <li>La mauvaise configuration de CORS permettant l'accès à l'API à partir d'origines non autorisées/non approuvées.</li>
                <li>Forcer la navigation vers des pages authentifiées en tant qu'utilisateur non authentifié ou vers des pages privilégiées en tant qu'utilisateur standard.</li>
            </ul>
            <h2>Comment s'en prémunir</h2>
            <p>Le contrôle d'accès n'est efficace que dans le code de confiance côté serveur ou des API serverless, où l'attaquant ne peut pas modifier la vérification du contrôle d'accès ou les métadonnées.</p>
            <ul>
                <li>À l'exception des ressources publiques, tout doit être bloqué par défaut.</li>
                <li>Centraliser l'implémentation des mécanismes de contrôle d'accès et les réutiliser dans l'ensemble de l'application. Cela comprend de minimiser l'utilisation de CORS.</li>
                <li>Le modèle de contrôle d'accès doit imposer l'appartenance des enregistrements, plutôt que de permettre à l'utilisateur de créer, lire, modifier ou supprimer n'importe quel enregistrement.</li>
                <li>Les exigences métier spécifiques de l'application doivent être appliquées par domaines.</li>
                <li>Désactiver le listing de dossier sur le serveur web, et vérifier que les fichiers de métadonnées (ex : .git) et de sauvegardes ne se trouvent pas dans l'arborescence web.</li>
                <li>Tracer les échecs de contrôles d'accès, alerter les administrateurs quand c'est approprié (ex : échecs répétés).</li>
                <li>Limiter la fréquence d'accès aux API et aux contrôleurs d'accès, afin de minimiser les dégâts que causeraient des outils d'attaques automatisés.</li>
                <li>Les identifiants de session avec état doivent être invalidés côté serveur après une déconnexion. Les JWT, sans état, doivent être à durée de vie relativement courte pour que la fenêtre d'opportunité d'un attaquant soit minimisée. Pour les JWT avec une durée de vie plus longue, il est fortement recommandé de suivre le standard OAuth de révocation d'accès.</li>
                <li>Les développeurs et les testeurs qualité doivent procéder à des tests unitaires et d'intégration sur les fonctionnalités de contrôle d'accès.</li>
            </ul>
            <h2>Exemple de scénarios d'attaque</h2>
            <p>Scenario 1 : L'application utilise des données non vérifiées dans une requête SQL qui accède à des informations d'un compte :</p>
            <code>
                pstmt.setString(1, request.getParameter("acct"));
                ResultSet results = pstmt.executeQuery( );
            </code>
            <p>En modifiant simplement le paramètre 'acct' dans le navigateur, un attaquant peut envoyer le numéro de compte qu'il veut. Si ce numéro n'est pas vérifié, l'attaquant peut accéder à n'importe quel compte utilisateur.</p>
            <code>https://example.com/app/accountInfo?acct=notmyacct</code>
            <p>Scenario 2 : Un attaquant force le navigateur à visiter des URL arbitraires. Il faut imposer des droits pour accéder à une page d'administration.</p>
            <code>
                https://example.com/app/getappInfo<br>
                https://example.com/app/admin_getappInfo
            </code>
            <p>Si un utilisateur non-authentifié peut accéder à l'une des pages, c'est une faille. Si un non-administrateur peut accéder à une page d'administration, c'est une faille.</p>
        `
    };

    document.querySelectorAll('.owasp-button').forEach(button => {
        button.addEventListener('click', function() {
            const id = this.getAttribute('data-id');
            const description = customMessages[id] || "Description non disponible.";
            const content = `
                <html lang="fr">
                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Détails OWASP</title>
                    <style>
                        body { font-family: Arial, sans-serif; padding: 20px; }
                        .description { margin-bottom: 20px; }
                    </style>
                </head>
                <body>
                    <h2>Détails de la vulnérabilité OWASP</h2>
                    <div class="description">${description}</div>
                </body>
                </html>
            `;

            const newWindow = window.open('', '_blank', 'width=600,height=400');
            newWindow.document.write(content);
            newWindow.document.close();
        });
    });
			</script>
		{% endblock %}

</div>
	</body>
</html>
