{% set title = 'Erreur 403' %}
{% set description = 'Accès interdit !' %}
{% set dateCopyright = "now"|date("Y") %}
<!DOCTYPE html>
<!--
.. __  __             __  __             _ _            _   _
  |  \/  | __ _      |  \/  | ___  _   _| (_)_ __   ___| |_| |_ ___
  | |\/| |/ _` |_____| |\/| |/ _ \| | | | | | '_ \ / _ \ __| __/ _ \
  | |  | | (_| |_____| |  | | (_) | |_| | | | | | |  __/ |_| ||  __/
  |_|  |_|\__,_|     |_|  |_|\___/ \__,_|_|_|_| |_|\___|\__|\__\___|

  Laurent HADJADJ
  https://github.com/Laurent-hadjadj/ma-moulinette
  © 2024 - CC BY-SA-NC 4.0
-->

<html
	lang="fr" dir="ltr">

	{# Chargement de la section HEAD #}
	<head>
		<title>{{ title }}</title>
		{{ include('head.html.twig') }}
		{% block stylesheets %}
			{{ encore_entry_link_tags('errors') }}
		{% endblock %}
	</head>

	<body>
		<div id="guru">
			<p>
				<span class="lol-eod">Software failure.</span>
				<span class="press-left-button">Press left mouse button to continue.</span>
			</p>
			<p>Guru Meditation #{{ random(0, 5000 ) }}{{ random('abcdef') }}{{ random(0, 400) }}.{{ random() }}</p>
		</div>

		<div id="error-page">
			<div class="content">
				<h1 class="header poppins">403</h1>
				<h2 class="poppins">
					<span>
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 255 256" class="logo-svg">
							<path d="M 27.5,-0.5 C 30.8333,-0.5 34.1667,-0.5 37.5,-0.5C 42.0964,2.26065 45.9297,5.92732 49,10.5C 52.6535,17.2999 55.8202,24.2999 58.5,31.5C 62.3696,21.4256 67.5363,12.0922 74,3.5C 76.0153,2.30342 77.8487,0.970083 79.5,-0.5C 82.8333,-0.5 86.1667,-0.5 89.5,-0.5C 97.3568,4.49589 102.857,11.4959 106,20.5C 110.566,32.0959 113.566,44.0959 115,56.5C 116.908,74.4457 117.908,92.4457 118,110.5C 118.5,158.832 118.667,207.166 118.5,255.5C 107.167,255.5 95.8333,255.5 84.5,255.5C 84.6667,204.166 84.5,152.832 84,101.5C 80.8549,89.5619 78.1882,89.8952 76,102.5C 75.5,153.499 75.3333,204.499 75.5,255.5C 64.1667,255.5 52.8333,255.5 41.5,255.5C 41.6667,204.166 41.5,152.832 41,101.5C 41.0133,97.8756 39.6799,94.8756 37,92.5C 34.6845,95.7772 33.3512,99.4438 33,103.5C 32.5,154.166 32.3333,204.832 32.5,255.5C 21.5,255.5 10.5,255.5 -0.5,255.5C -0.5,195.5 -0.5,135.5 -0.5,75.5C 1.07174,57.486 4.90508,39.8193 11,22.5C 14.097,12.9208 19.597,5.25418 27.5,-0.5 Z"/>
							<path d="M 164.5,-0.5 C 167.833,-0.5 171.167,-0.5 174.5,-0.5C 179.096,2.26065 182.93,5.92732 186,10.5C 189.654,17.2999 192.82,24.2999 195.5,31.5C 199.37,21.4256 204.536,12.0922 211,3.5C 213.015,2.30342 214.849,0.970083 216.5,-0.5C 219.833,-0.5 223.167,-0.5 226.5,-0.5C 234.357,4.49589 239.857,11.4959 243,20.5C 249.431,39.1113 253.264,58.1113 254.5,77.5C 254.5,136.833 254.5,196.167 254.5,255.5C 243.5,255.5 232.5,255.5 221.5,255.5C 221.667,204.166 221.5,152.832 221,101.5C 217.81,89.6109 215.143,89.9442 213,102.5C 212.5,153.499 212.333,204.499 212.5,255.5C 201.167,255.5 189.833,255.5 178.5,255.5C 178.667,204.166 178.5,152.832 178,101.5C 178.013,97.8756 176.68,94.8756 174,92.5C 171.685,95.7772 170.351,99.4438 170,103.5C 169.5,154.166 169.333,204.832 169.5,255.5C 158.167,255.5 146.833,255.5 135.5,255.5C 135.333,203.832 135.5,152.166 136,100.5C 135.201,71.8789 139.868,44.2122 150,17.5C 153.206,10.0299 158.04,4.02989 164.5,-0.5 Z"/>
						</svg>
					</span>
					<span>
						Oups ! Accès interdit.</span>
				</h2>
				<p class="poppins">Le serveur a compris la demande, mais refuse de l'autoriser.</p>
				<div class="btns poppins">
					<a href="/home">Accueil</a>
				</div>
			</div>
		</div>
		{# Chargement du code javascript #}
		{% block javascripts %}
			{{ encore_entry_script_tags('errors') }}
		{% endblock %}
	</body>
</html>
